[2017-04-27 18:29] #221 closed

[2017-04-29 04:04] kylebmetrum commented on #220
- `inventory` lets you compare names in an R object (data.frame, list) with parameter names
- Notification is made if not all parameter names are found in the object (default) or if any
in a list of user-provided parameter names (`need` argument) are not found in the R object
- Added `need` arguments to `data_set` and `idata_set`; if `need` is provided, `inventory` is called and error is generated

[2017-04-29 04:12] kylebmetrum commented on #220
I'd like to make the messaging more elegant.  Wondering too about printing or returning vector of missing names.  Or anything that is safe and helpful and flexible.

Also ... this solely reports on __parameters__ that are __not__ in the `R` object being inventoried.  So maybe `inventory` isn't a good name.  We could go wild with reporting here, but I don't see any reason at this point to do any mo

[2017-05-05 20:55] kylebmetrum commented on #220
I copied the source code for this into my project at work.  Not that the implementation is perfect or anything, but I thought it was so helpful.  I just called `inventory(mod,object)` once I got the model loaded and the data set worked out.  Nice to have that check.

[2017-05-06 14:49] kylebmetrum opened #230 "Blank lines"
[code]

The comment is removed, but a line with whitespace remains.  Messes up downstream parsing events.

Need to grep out lines with only whitespace.

[2017-05-09 20:30] dpastoor opened #232 "[F] inventory implementation issue"
Just creating an issue related to the PR #229 as it can be difficult to find discussion later. This way an issue can be searched with the word inventory, to track back to the PR

[2017-05-09 20:30] dpastoor commented on #232
Given the inventory implementation has been merged to master now, closing this for the moment. It could be re-opened for api discussions or bugs that pop up

[2017-05-09 20:30] #232 closed

[2017-05-15 21:05] kylebmetrum commented on #116
ld: warning: directory not found for option '-L/usr/local/gfortran/lib/gcc/x86_64-apple-darwin15/6.1.0'
ld: warning: directory not found for option '-L/usr/local/gfortran/lib/gcc/x86_64-apple-darwin15/6.1.0'

[2017-05-15 21:05] kylebmetrum commented on #116
F77 = /usr/local/bin/gfortran
FC = $F77
FLIBS = -L/usr/local/gfortran/lib/gcc/x86_64-apple-darwin16/6.3.0 -L/usr/local/gfortran/lib -lgfortran -lquadmath -lm

[2017-05-25 21:59] JasonW000 opened #236 "$MIX option in mrgsolve?"
Is there an option in mrgsolve similar to $MIX in NONMEM, with the goal of simulating from different populations?  My current workaround is simply to run two separate simulations with the number of individuals based on the probability of being in population 1 vs 2 and then merging them into a single dataframe.  This works, but if the option exists I would like to do this within the mrgsolve model.

[2017-05-25 22:04] kylebmetrum commented on #236
I'm familiar with $MIX, but I'm trying to figure out what exactly needs to be done here.

Do you want mrgsolve to "randomize" people to this population or that population as the run proceeds?

[2017-05-26 01:12] JasonW000 commented on #236
Yes, randomization based on a probability that is defined as a model parameter rather than being defined outside of the model. Since it is all in R it is not to difficult to make it work using the latter approach. If this option is not currently available that is okay, but I wanted to check.

Jason

Sent from my iPhone

[2017-05-26 01:27] kylebmetrum commented on #236
There isn't a pre-wrapped `$MIX` per se.  But it's not too hard to code your own.

I put this in `$MAIN` ...  but I might think about wrapping it up in a function for heavy project work.

For two groups, just call `rbinom`.  For three groups you can do it with uniform distribution?  Or maybe there's a more-clever way to do it.

If you have more groups and there's an `R` function that will so this

[2017-05-26 01:29] kylebmetrum commented on #236
For the previous example, I hard-coded the probabilities.  You can make those "parameters" or other variables.  Doesn't matter.  Only call `R::rbinom` with `1` as the first argument and obviously
use `runif(0,1)` for that approach.

[2017-05-26 01:33] dpastoor commented on #236
well kyle beat me to it, but here was the example I cooked up as well - in this case adjusting CL by 50% for one group (CLGRP = 0.5) with a probability of 30% to be in the GRP

[code]

[2017-05-26 01:39] kylebmetrum commented on #236
@dpastoor Great minds think alike.

But somehow I get the feeling that I'm going to be reporting to you someday.

[2017-05-26 01:43] dpastoor commented on #236
ha! you do all the hard work - I just get to have fun playing with it :-)

[2017-05-27 05:39] kylebmetrum commented on #236
Captured some of this in a blog post:
http://mrgsolve.github.io/2017/05/26/mixture-model-example/

[2017-05-31 22:43] JasonW000 commented on #236
Thank you both for the useful examples and the thorough explanation in the
blog post.  I have implemented this in my model and it is working out very
well.

On Fri, May 26, 2017 at 10:39 PM, Kyle Baron <notifications@github.com>
wrote:

[2017-06-08 15:15] aalhadab opened #237 "Negative concentrations with PROP error"
I am simulating plasma concentrations with proportional residual error and I always get negative concentrations. Why is it that?

Here is my example

code <- '
$PARAM
TVCL     = 15.7,
TVV2     = 150,
Q           = 87.7,
V3          = 592,
KA          = 0.777,
ALAG      = 0.536,
F             = 1.08,
FE           = 0.438,
OCC       = 0

$SET end=168, add=c(1,2,4,6,8,12,24,48,72,96,12,144,168)

$CMT

[2017-06-08 15:27] kylebmetrum commented on #237
Some records had `EPS(1)` less than `-1`.  `CP` will be negative.  Use exponential error model or resimulate `EPS(1)` with `simeps()` to keep concentrations positive.  Or truncate some other way.

[code]

[2017-06-11 01:30] kylebmetrum commented on #218
It looks like `dplyr 0.7.0` is on CRAN.  I installed and was able to build `mrgsolve` fine.  I'm not sure how much of the "new" stuff is in that release.

I looked at  0.6.0 this a little back in May and it seemed like they kept a lot of the underscore functions around for backward compatibility but I'm sure it won't be around for ever.

But if I'm understanding this right, I think we should be ab

[2017-06-13 14:09] aalhadab commented on #237
Thanks Kyle

[2017-06-13 14:38] aalhadab opened #239 "Steady state (ss=1) with lagtime"
Results using addl, ii and time are different from those when I used ss and ii

code <- '
$PARAM
TVCL     = 15.7,
TVV2     = 150,
TVQ      = 87.8,
TVV3     = 592,
TVKA     = 0.777,
TVALAG   = 0.536,
FE       = 0.438,

KA2      = 0.209,
ALAG2    = 1.72,

INH      = 2.96,
IC50     = 0.961

$SET delta=1, end=168, add=c(1,2,4,6,8,12)

$CMT VGUT GUT CENT PERI URINE

$MAIN
double  CL      = TVCL * exp(E

[2017-06-13 15:13] kylebmetrum commented on #239
Check your model.

[2017-06-14 02:57] kylebmetrum commented on #239
@aalhadab  Looking at this some more, maybe the model is fine.  I think this is related to the lag time.  `VGUT` and `KA` are going into a steady state, but starting at the lag time.  So that `time==0` observation record is ending up at the initial condition, the system advances to the lag time for `cmt==1` and starts the steady state process ... but it's at the lag time.  I agree that we might ex

[2017-06-14 22:20] #237 closed

[2017-06-14 22:35] kylebmetrum commented on #239
If we get a dosing event where `ALAG > 0` and `ss > 0`, then advance the system to steady state without the lag and then advance the value of `ALAG` .  Do this with the ss advance code.

[2017-06-14 23:16] kylebmetrum commented on #239
Or advance to II - lag?

[2017-06-15 15:10] aalhadab commented on #239
It did not work for my case. I think it is because my case is a bit complicated because I have lag times. I am using addl which works fine

[2017-06-15 15:37] kylebmetrum commented on #239
@aalhadab  Thanks for reporting back.  Just to clarify: the change went to the `dev` branch, not `master`.  If you did install from `dev` and checked the example, I understand that the fix still might not work in every case.   But I definitely believe that there was a bug there for models with `ss` and `alag`.  The commit I made to `dev` causes `mrgsolve` to match up with what NONMEM is saying for

[2017-06-16 03:52] kylebmetrum commented on #239
@aalhadab You might want to try the `dev` branch install again.  That fix actually works for your model.  If you really want to assess it, I think you just need to look at the `ss` dose.  When you do that, the `ss` setup starts up right where the `md` setup ends up (see below).

Here are your tests:
[code]

IN the MD example, you will get 13 x 100 unit doses into cmt 1 every 24 hours and somewhere

[2017-06-16 04:16] kylebmetrum commented on #236
Thanks for the good question, Jason.

[2017-06-16 04:16] #236 closed

[2017-06-16 04:18] kylebmetrum commented on #217
Closing this without more specifics.  We know `mrgsolve` matches NONMEM for all compatible features.

[2017-06-16 04:19] #217 closed

[2017-06-16 04:37] kylebmetrum opened #240 "[F] Dynamic dosing in $MAIN"
I was thinking something simple like

[code]
 And if you have a dosing record with, say, `evid=27`, `mrgsolve` would just plug in that dose.

If you wanted to modify multiple doses I'd want to put the onus back on the model (I think this would work):
[code]
Otherwise we'd have to pass another array into those functions and it doesn't seem worth it.  I don't think having one dose variable is an iss

[2017-06-16 04:42] #205 closed

[2017-06-16 04:47] #230 closed

[2017-06-16 13:34] dinkorekic opened #241 "Titration"
This is a copy of the question I posted on the google_groups page. Devins reply is shown in the end.

#-------------------------------
Basically, I want to change the dose for a drug based on the drug's concentration. Here is some code that does not work but illustrates what I want to do.

Ideally I would like the titration to be dependent on TIME and CONC as well. Any suggestions are appreciated.

[2017-06-16 13:53] kylebmetrum commented on #240
@dinkorekic re-posted the original question in #241

[2017-06-16 14:16] kylebmetrum commented on #241
@dinkorekic @dpastoor @riggsmm  Here are some relevant sections from `viii.pdf`.  I took this to mean that `Fn` gets locked at the time of the initiating dose.  Now, I'm not sure.  We can easily do either behavior.  I will do a test to see what the NONMEM behavior actually is.  If anyone knows for sure and wants to comment on that, please do.  We don't absolutely __have__ to match NONMEM here but

[2017-06-17 01:21] kylebmetrum commented on #241
Well ... I was wrong about `Fn` and `ADDL`.  It looks like doses are adjusted based on whatever the current value is for `Fn` ... it doesn't get locked in.

I will change the behavior back to the original.

@dinkorekic Thanks for raising the issue and @dpastoor thanks for helping out too.

[2017-06-17 01:24] kylebmetrum commented on #240
@dpastoor Now that `Fn` is going back to being completely dynamic, I don't see why we'd need this.  While it might be more intuitive to just set the dose rather than the scaling the dose in the data set, I don't think it will be less work (you still need to set up the data set in a certain way and you still need to set something in the model control file).

[2017-06-17 01:29] kylebmetrum commented on #241
Artifacts.
![2](https://user-images.githubusercontent.com/16908301/27249065-58af5cd8-52d2-11e7-8b71-a779937a0d0e.png)
[test_Fn_ADDL.zip](https://github.com/metrumresearchgroup/mrgsolve/files/1082221/test_Fn_ADDL.zip)

[2017-06-17 02:13] kylebmetrum commented on #241
# Bolus
- Bolus doses are easy: just read `F[n]` at the time the bolus is administered.  Nothing special needs to be done there.

# Infusion
- This is harder because, for doses scheduled out into the future, we don't know the duration of the infusion until the time the infusion starts.
- No problem on the initial dose ... we start the infusion and schedule the end of the infusion whenever we come

[2017-06-17 11:45] dinkorekic commented on #241
Thank you @kylebmetrum and @dpastoor for essentially solving this. I am super glad and grateful for mrgsolve. I have used it in a couple of projects and I am very satisfied with the functionality. Now back to the issue of titration.
....
Another nice feature that is perhaps more realistic to how titration is used in clinical trials is the concepts of `VISIT`. Decision to titrate is typically based

[2017-06-17 12:06] dpastoor commented on #240
yes, and to some extent the 'intuitiveness' of directly setting the dose may be offset by trying to explain to people the concept of `self` and its property accessors.

[2017-06-17 14:44] dpastoor commented on #241
Full solution below - we can do everything you want (though admittedly it can be more user friendly) by using some custom cpp code, as well as pulling information from the R environment (namely the possible doses and the times you'd like to actually check and titrate.

Sorry for the terse comments, this probably needs to be a full case study/blog post to go through things that are going on...

[2017-06-17 15:04] dpastoor commented on #241
and a followup - a safer way of making sure something is set by default for the environment using $ENV and `env_update` to set them for a given simulation

[code]

[code]

[code]

[code]

![](http://i.imgur.com/q3vU8MS.png)

[code]

[code]

[2017-06-17 16:52] kylebmetrum commented on #240
I have faith that people can understand it if we give them example.  There is already a bunch of stuff that you can only access through `self`.

[2017-06-18 14:53] dpastoor opened #242 "NEWIND behavior"
From offline discussion, NEWIND == 1 is definitely the first record of each subject, per nonmem, however in mrgsolve for the first subject, this does not hold, therefore to get the behavior for all subjects must do

`if (NEWIND <= 1) ...`

In the nonmem manual it states:

[code]

I take this to mean that NEWIND == 1 should be applicable to all first records of any subject, even the first one?

The

[2017-06-19 04:44] kylebmetrum commented on #242
### NEW INDIVIDUAL INDICATOR: NEWIND
[code]

There isn't really a concept of "THETA value does not differ from ... "  or "PRED is nonrecursive" in `mrgsolve` so I tend to cross that off the list.

[code]

 `NEWIND.LE.1` idiom is pretty standard in NONMEM code.

[2017-06-19 11:53] dinkorekic commented on #241
This looks awsome @dpastoor. I can comfirm the solution works for my problem. I can also comfirm that it is not userfrendly. This is something that could perhaps be added to the mrgsolve functionality so that users do not need to write their own Rcpp code.

[2017-06-19 14:40] kylebmetrum commented on #241
I think @dpastoor 's solution is very clean and clear.  I think it *is* user-friendly: he could have avoided  using the function and vectors (less Rcpp stuff) ... but it would have meant hard-coding some values in the model and a lot more code.

Just some more notes to go along with this:

This might be option for getting around the `within` function:
[code]
I doubt there is much performance diffe

[2017-06-19 15:00] kylebmetrum opened #243 "[F] Improve access to Rcpp facilities"
Based on #241 (@dinkorekic and @dpastoor) ..... some ideas.

Provide more functions to get objects from `$ENV`.  Probably getter for numeric vector would let us write
[code]
rather than
[code]
Not sure how much of a savings this is.  Maybe the stumbling block is passing `self` into the function call.  I don't know what to do about that.  We have a lot of code and macros to try to hide a lot of tha

[2017-06-19 15:23] kylebmetrum commented on #240
Moving the conversation with myself here.

# Bolus
- Bolus doses are easy: just read `F[n]` at the time the bolus is administered.  Nothing special needs to be done there.

# Infusion
- This is harder because, for doses scheduled out into the future, we don't know the duration of the infusion until the time the infusion starts.
- No problem on the initial dose ... we start the infusion and schedul

[2017-06-19 15:37] kylebmetrum commented on #243
It would be nice if `R` objects automatically showed up  in the problem.  But I think it would make sense to have the user at least name which objects get imported.

[code]

or

[code]

That would translate to

[code]

I kind of like this ... definitely saves coding.  But I can also see where hiding this code will only make it harder for people to understand what is happening and more likely that

[2017-06-19 19:22] dpastoor commented on #241
`is_true` - if that does work (i didn't try that in particular) but that would definitely be ideal. I tried a couple of the Rcpp built ins but they wanted vectors so just threw up my hands and wrote within.

[2017-06-19 19:34] kylebmetrum commented on #241
Yeah .... `Rcpp` always wanting a vector limits it for us.  But the workaround usually isn't too bad as @dpastoor showed.

This was my test.  I don't use a lot of the `sugar` but when I do, I usually need a reminder of where you need to use stuff like `is_true`.

[code]

[2017-06-20 07:06] dinkorekic commented on #241
@kylebmetrum,

I did not mean to diminish @dpastoor solution; I agree that it is elegant. I, as a user, will just have to learn how to deal with Rcpp if I want to use rmgsolve for these kinds of things.

[2017-06-20 15:02] kylebmetrum commented on #241
@dinkorekic No worries.  I didn't think you were being critical.  It's a good question and we're always trying to assess how difficult it is to implement this stuff, where we should or shouldn't be providing help / automation.  My comment was aimed more in that direction ...   I'm happy to have your thoughts on difficulty level so we can understand how comfortable users are and where we need to pr

[2017-06-23 17:55] JasonW000 commented on #236
Kyle,  in your example (shown below), is there a reason you implement the
ETA within the $MAIN block instead of using a standard ETA and $OMEGA ?  It
appears I am able to get satisfactory results using either approach.
However, I like using the latter approach since I can easily add Covariance
parameters using the 'cmat' function.  Please let me know if I am
overlooking something here.

thanks
Jas

[2017-06-23 18:10] kylebmetrum commented on #236
Hi @JasonW000 -

I only did it here to illustrate another way to simulate random numbers.  I think we use `R::runif` too later on in the example (or maybe that was on the blog post?) ... that's a pretty decent starter set.

But I agree with you that it's better / easier to stick with using `$OMEGA` and let `mrgsolve` simulate `ETA`s for you.  I would definitely use `$OMEGA` for real work.

Kyle

[2017-06-23 19:15] JasonW000 commented on #236
Perfect, thank you for the clarification.

On Fri, Jun 23, 2017 at 11:10 AM, Kyle Baron <notifications@github.com>
wrote:

[2017-06-24 12:24] jgonlop3 opened #244 "Export data"
Hi, I´m interesting on export data from a simulation output of the "complete example" - from: https://mrgsolve.github.io/2017/02/25/a-complete-example/

But R send this message error:

Error in as.data.frame.default(x[[i]], optional = TRUE) :
  cannot coerce class "structure("mrgsims", package = "mrgsolve")" to a data.frame

How can I solve it?

[2017-06-24 12:53] dpastoor commented on #244
hi @jgonlop3, the output of an mrgsolve simulation is not a dataframe, rather a datastructure that contains the data, as well as other information about the model run. In order to write out the data to a csv, we first want to coerce the output to a dataframe, so you can do

as_data_frame(out)

also I would suggest using the write_csv from readr for more performant and consistent outputs, so you co

[2017-06-24 12:59] jgonlop3 commented on #244
This works perfectly. It´s incredible the quick and good answers this community offers. Thanks! this is the best support I have ever had!

[2017-06-24 20:27] kylebmetrum opened #246 "[F] Implement mechanism to signal Rcpp::stop from model functions"
[code]
or

[code]

[2017-06-25 05:07] kylebmetrum commented on #246
I added both pre-processor macros and functions in `self`:

https://github.com/metrumresearchgroup/mrgsolve/blob/dev/inst/include/modelheader.h#L143-L145

and

https://github.com/metrumresearchgroup/mrgsolve/blob/dev/inst/include/modelheader.h#L143-L145

One of them will go.

[2017-06-25 05:10] kylebmetrum commented on #246
`SYSTEMOFF==9` means call `Rcpp::stop`
`SYSTEMOFF==1` means stop the current ID and carry the last result forward
`SYSTEMOFF==2` means stop the current ID and fill in the remaining records with `NA`

[2017-06-26 15:58] kylebmetrum commented on #218
Just bumping this issue.  `mrgsolve` works fine with `dplyr 0.7.1` and seems to be no compatibility issues with `0.5.0`.

But I'm starting to find some areas where I'd like to use some sort of nse ... and this would likely cause some compatibility issues.

Can we bump the `dplyr` version requirement to start to do that?  I'd rather just go cutting edge with it tan try to jump through all of the ho

[2017-06-26 18:00] #244 closed

[2017-06-26 18:01] #242 closed

[2017-07-13 04:28] kylebmetrum commented on #239
I think this is as fixed as it's going to get.

[2017-07-13 04:28] #239 closed

[2017-07-13 04:28] kylebmetrum commented on #243
Let's just leave it alone for now.

[2017-07-13 04:28] #243 closed

[2017-07-13 04:28] kylebmetrum commented on #224
Not a problem so far.

[2017-07-13 04:28] #224 closed

[2017-07-13 04:29] #220 closed

[2017-07-13 04:29] #185 closed

[2017-07-13 04:31] kylebmetrum commented on #163
I have updated in the install instructions to point people to the Sierra configuration as the first option.

[2017-07-13 04:31] #163 closed

[2017-07-13 04:31] #173 closed

[2017-07-13 04:32] #35 closed

[2017-07-16 02:51] kylebaron opened #249 "[F] Steady-State with Constant Infusion"
# Summary

- Advance the system to steady state with an infusion with given rate
- Require ss=1
- Require Rate > 0 or == -1
- Error if Rate == -2
- Error if ADDL > 0
- Allow amt==0 to event object creator

`AMT = 0, RATE > 0,  II = 0, SS=1`

See PR #524

Reference: nm-help guide, `SS DOSE EVENT RECORD`.
[code]
This is a general target to aim at.  We do not have to match ever aspect of this impleme

[2017-07-17 03:39] kylebmetrum opened #250 "New LinkingTo requirements"
I'm bumping the `Rcpp` requirement due to this
https://github.com/RcppCore/Rcpp/pull/725
in order to keep up with changes that are very relevant to `mrgsolve`.

[2017-07-17 03:47] kylebmetrum commented on #250
Updating version requirement for `RcppArmadillo`; adding version requirement for `BH`.

[2017-07-19 17:32] reejbee opened #252 "Error with preclean call"
When building a model in a windows environment, the  mread call “preclean” causes this this error : “**modelname**-mread-source-win.def’: No such file or directory

[2017-07-20 12:02] justinpenz opened #253 "accessing CMT and AMT in control file"
I am implementing a flexible transit model, and dosing to multiple compartments.  I would like to implement something like `$MAIN if(EVID==1 && CMT == 2) TOD = TIME;`.  How do I call CMT?

It would also be helpful to access AMT in $MAIN or $ODE.

Thanks!

[2017-07-20 12:23] kylebmetrum commented on #253
Please look here: http://mrgsolve.github.io/user_guide/model-specification.html#variables-and-macros

Only very limited selection of data are accessible in `$ODE` (parameters, cmt amounts, initial conditions, and ... obviously ... global C++ variables).  So keep working in `$MAIN` for this.  If you do need to use in `$ODE` copy the values into variables:

[code]

[2017-07-20 12:54] justinpenz commented on #253
Thank you!

[2017-07-20 12:54] #253 closed

[2017-07-21 23:28] #246 closed

[2017-07-24 14:20] #227 closed

[2017-07-24 14:20] #198 closed

[2017-07-24 14:20] #240 closed

[2017-07-25 21:34] JSC67 opened #254 "FORTRAN compiler verification (Windows 7)"
From the output below, it looks as if there is a gfortran compiler but the test on https://github.com/metrumresearchgroup/mrgsolve/wiki/compilers-and-mrgsolve didn't work:

--
 

[2017-07-25 21:57] kylebmetrum commented on #254
Maybe the spacing got mixed up.

There needs to be 6 spaces at the start of every line, except the `100  continue` line ...  the `c` in `continue` starts in column 7 and put the `100` in the first 3 columns.

Example file attached.

[fcode.R.txt](https://github.com/metrumresearchgroup/mrgsolve/files/1174873/fcode.R.txt)

[2017-07-25 23:04] JSC67 commented on #254
Kyle, thank-you.  Apparently pasting the file text into the RStudio Console window causes the spaces to be removed.  I had to paste the lines in one at a time and then click the Home key and manually add the spaces back each time.  At the very end I used the Delete key since typing ' gave by default a pair of '.  The output is below (with line breaks inserted since pasting in the selected text got

[2017-07-25 23:04] #254 closed

[2017-07-26 14:35] kylebmetrum commented on #252
@reejbee Can you reproduce the error with this code?

[code]

[2017-07-26 16:13] reejbee commented on #252
@kylebmetrum, No. This works.
It's the combination of soloc="../so", preclean=T that throws that win.def error. Sorry, this wasn't immediately clear to be before.
foo <- mread("pk1cmt", modlib(), preclean=TRUE, soloc="../so") causes the same error.

[2017-07-26 16:25] kylebmetrum commented on #252
Ok.  All of the formulations are working for me so far.  I'll keep looking for other explanations.

Can you share the `devtools::session_info()`?

[code]

[2017-07-26 16:26] kylebmetrum commented on #252
@reejbee Can you also post the exact error text when you compile `pk1cmt` from `modlib()`?

[2017-07-26 16:38] reejbee commented on #252
sessionInfo()

R version 3.3.2 (2016-10-31)
Packages ----------------------------------------------------------------------------------------------
 package         * version     date       source
 assertthat        0.1         2013-12-06 CRAN (R 3.3.1)
 backports         1.0.4       2016-10-24 CRAN (R 3.3.2)
 codetools         0.2-15      2016-10-05 CRAN (R 3.3.1)
 colorspace        1.3-1       2

[2017-07-26 16:53] kylebmetrum commented on #252
@reejbee Thanks.  I can't reproduce after rolling back to version `0.8.6`.  I happen to be using `R 3.3.2` as well, so that is matching.

I'll keep this open for a bit to see if we can get it reproduced on another platform.

[2017-07-26 16:56] kylebmetrum commented on #252
@dpastoor Could you try this out for us if you're still on Windows?

[code]

[2017-07-26 17:03] dpastoor commented on #252
seems fine on my end, with the CRAN version

[code]

@reejbee after the error, can you please call `traceback()` so we can see a stack trace

[code]

[2017-07-26 17:04] reejbee commented on #252
@kylebmetrum Thanks for trying it out. I'll tell Mike to keep leaving out the preclean call for now.

[2017-07-26 17:08] reejbee commented on #252
@dpastoor, @kylebmetrum

Error in file(file, ifelse(append, "a", "w")) :
  cannot open the connection
In addition: Warning message:
In file(file, ifelse(append, "a", "w")) :
  cannot open file 'pk1cmt-mread-source-win.def': No such file or directory

4: file(file, ifelse(append, "a", "w"))
3: cat(file = win_def_name(x), c("EXPORTS", paste0(" ", funs(x))),
       sep = "\n")
2: write_win_def(x)
1:

[2017-07-26 17:22] kylebmetrum commented on #252
@reejbee Does Mike need to build the model in `../so`?  If he can, I would leave `soloc` set to default `tempdir()`.  Maybe that would still let him run with `preclean=TRUE` ?

Obviously, it doesn't address the original issue ... apparently where `mrgsolve` doesn't have permission(?) to write that `-win.def` file.  Can't figure out how `preclean` figures into that.

I wonder if any of this is happ

[2017-07-26 17:32] dpastoor commented on #252
Now I'm really perplexed - just tried with R 3.3.2

[code]

I think you're right @kylebmetrum that its a permissions issue of some sort, but can't figure out how that plays into the `write_win_def` call.

[2017-07-26 17:42] reejbee commented on #252
@kylebmetrum I think as long as wherever the shiny app is being served up has permissions to build the model in whatever tempdir it sits in, I don't think leaving soloc=tempdir() would pose a problem. We're about to meet with the GHAP-Shiny people so I can ask them about permissions.

It doesn't surprise me that this would be a permissions issue. I have similar issues on the GHAP platform (install

[2017-07-26 20:20] JSC67 opened #255 "?modelspec"
https://github.com/metrumresearchgroup/mrgsolve/wiki/howdoi#about-the-model-specification-file says this:

About the model specification file

For more information, see ?modelspec. A brief overview is included below.

Well, here's what I got (after successful installation):

No documentation for ‘modelspec’ in specified packages and libraries:
you could try ‘??modelspec’

[2017-07-26 20:40] kylebmetrum commented on #255
@JSC67 Thanks.  I removed that `R` help topic when we published the [user guide](http://mrgsolve.github.io/user_guide/).

You can find the same content here:
http://mrgsolve.github.io/user_guide/model-specification.html

Specifically in these two sections:
http://mrgsolve.github.io/user_guide/model-specification.html#code-blocks
http://mrgsolve.github.io/user_guide/model-specification.html#variabl

[2017-07-28 02:20] #255 closed

[2017-08-12 05:36] #252 closed

[2017-08-12 05:37] kylebmetrum commented on #250
Closing this; doesn't seem to be an issue so far.

[2017-08-12 05:37] #250 closed

[2017-08-12 05:37] kylebmetrum opened #257 "different signs"
Should fix this sooner or later.

[code]

[2017-08-12 05:38] kylebmetrum commented on #218
Seems like a non-issue so far.

[2017-08-12 05:38] #218 closed

[2017-08-12 05:38] #193 closed

[2017-08-12 05:38] #110 closed

[2017-08-12 05:40] kylebmetrum commented on #80
You should be able to do this in `$ENV`

[2017-08-12 05:40] #80 closed

[2017-08-12 05:40] #152 closed

[2017-08-12 05:40] #228 closed

[2017-08-12 05:41] kylebmetrum commented on #119
I'd hate to have to check every single time you simulate ... let's wait until it really is an issue.

[2017-08-12 05:42] kylebmetrum commented on #95
Simplify

[2017-08-27 03:10] kylebmetrum commented on #257
Fixed.

[2017-08-27 03:10] #257 closed

[2017-08-29 04:18] #119 closed

[2017-08-29 04:19] #241 closed

[2017-08-29 17:25] edahmane opened #264 "Steady state (ss=1) with lagtime"
@kylebmetrum @dpastoor  I am using mrgsolve CRAN version 0.8.9 and I have the following error message when I run a model with ss=1 and ALAG_GUT : `Error: ss dosing records with lag time are not currently supported`. I thought this bug was fixed in previous releases (https://github.com/metrumresearchgroup/mrgsolve/blob/master/NEWS.md). I have the same error message with the dev version 0.8.9.9000.

[2017-08-29 18:30] kylebmetrum commented on #264
@edahmane Yes, PR #248 disabled that advance.   I still think it was probably working ok for bolus doses, but was absolutely failing for infusions (more complicated to manage the duration, especially when it could be dynamic through dynamic F).  I felt like getting the dynamic F right was higher priority until I can get SS with lag time worked out for bolus and infusion.

Let's keep this open and

[2017-08-31 18:27] krinaj opened #265 "Defining Bioavailability in mrgsolve model"
Hi Karl, Devin, and others,

I am doing simple 2 comp oral (parallel linear and non-linear elimination) simulations. I tried two different methods to incorporate bioavailability and getting different results. In method 1, I am defining bioavailability in $MAIN and I believe mrgsolve maps it automatically. In method 2, I included bioavailability in ODE. But simulated concentrations between these tw

[2017-08-31 18:59] vjd commented on #265
@krinaj  `F_DEPOT` in your first method implicitly scales your dose going into the body. This is the correct way of using the term. However, I'd like to know why did you try the second method, more out of curiosity?

[2017-08-31 19:15] krinaj commented on #265
Thanks, Vijay.

I am trying to actually simulate with mrgsolve and estimate back with
nlmixr to evaluate nlmixr performance. I do not find in-built option in
nlmixr for including bioavail, so I have to include it in ODE.

I am wondering rather than using method 1, can $INIT be used to scale dose
with bioavail? If I use $INIT, how would I scale multiple doses going in
depot compartment?

thanks,
Kr

[2017-08-31 22:52] kylebmetrum commented on #265
@krinaj `$INIT` won't help for this; it just says where the compartments are started at the beginning of the problem.

You can verify the bioavailability behavior in `mrgsolve` by looking at what happens to the dose:
[code]

<details><summary>Session info</summary>

[code]

</details>

<hr>

If you're doing bolus doses, that's all that should happen.  I can take a look at your code tonight but it

[2017-09-01 03:16] kylebmetrum commented on #265
@krinaj

Seems like you have to do something like this

[code]

Two methods
-----------

[code]

### Modified method 2

[code]

    .
    . Model file: method2.cpp
    .
    . $ODE
    . double CP     = CENTRAL/Vc;
    . dxdt_DEPOT    =   -KA*DEPOT;
    . dxdt_CENTRAL  =   F1*KA*DEPOT - Kel*CENTRAL - Vmax*CP/(Km+CP) - K12*CENTRAL + K21*PERIPH;
    . dxdt_PERIPH   =   K12*CENTRAL - K21*PERIPH;

###

[2017-09-01 03:20] kylebmetrum commented on #265
[Archive.zip](https://github.com/metrumresearchgroup/mrgsolve/files/1269074/Archive.zip)

[2017-09-01 14:15] krinaj commented on #265
thanks so much, Kyle.

This approach works perfectly and produces identical results to built-in
bioavailability option.

On Thu, Aug 31, 2017 at 8:16 PM, Kyle Baron <notifications@github.com>
wrote:

[2017-09-12 20:44] kylebmetrum opened #267 "Incorrect infusion duration when used with lag time"
This should only be issue in more-recent version ... after changes related to dynamic-F were made.

[code]

[2017-09-12 21:42] #265 closed

[2017-09-15 17:24] kylebmetrum opened #270 "Incorrect infusion execution when lag time and duration greater than interval"

[2017-09-15 20:31] kylebmetrum opened #272 "Infusion issues and resolution"
After a recent refactoring of the main simulation loop (#241, #248) , we discovered some problems with the way infusions were implemented when there was also a lag time in the simulation.

Several issues have now been dealt with and are merged with the master branch.  I also added several new unit tests to the package and re-visited the NONMEM comparison code (attached).

[nmtest2.pdf](https://git

[2017-09-15 20:31] #270 closed

[2017-09-15 20:32] #267 closed

[2017-09-16 17:52] vjd commented on #272
@kylebmetrum is infusion/bolus (out10) set up correctly in this document? It is an infusion + bolus and you provide a rate of 10 into cmt=1 which is the gut compartment.

[code]
gives this below..
![image](https://user-images.githubusercontent.com/1425562/30514580-e98c904e-9ae5-11e7-9b55-a8248a087fc4.png)

Should it not be
[code]

just checking.

[2017-09-16 18:12] kylebmetrum commented on #272
@vjd Thanks for (carefully) reading and checking the document!  I'll add another scenario for IV infusion.  We do a lot of sequential zero / first order absorption models so the example in there was sort of intended to be an infusion into `GUT`.

I have been working on `SS` with a `lagtime` (harder than it sounds ... at least with the way I have things set up.  I'll be adding those tests and will

[2017-09-16 18:14] vjd commented on #272
@kylebmetrum I assumed so, but just wanted to confirm. This is an excellent resource to teach folks on how events are set up. Do you have a repo that I can contribute to? Couldn't find it

[2017-09-16 18:17] kylebmetrum commented on #264
@edahmane If you have some time, could you install from `dev` branch and (see PR #273) and play around with this?   I still need to check against NONMEM output, but so far I'm feeling good about this.

I had to include some restrictions on what you can do (you'll get an error message).  But I think they would rarely be in play for 99% of the models we do.

Thanks.

[2017-09-18 13:50] kylebmetrum commented on #272
@vjd https://github.com/mrgsolve/nmtests Probably needs some organization to make it easy to contribute to and I'm not sure how easy it would be to run the NONMEM stuff on another platform.  But please feel free to make a PR or even just suggest other scenarios that need to be tested.

[2017-09-18 13:55] kylebmetrum commented on #264
@edahmane Some tests to compare and confirm behavior against `nonmem`
https://github.com/mrgsolve/nmtests/blob/master/nmtest2.pdf

All of this should be in `master` branch now. Any testing or feedback from a real-world user would be appreciated.

[2017-09-18 14:02] edahmane commented on #264
@kylebmetrum<https://github.com/kylebmetrum>. Thank you for working on this. I will try on the few models I have and I will compare with nonmem output and get back to you.

From: Kyle Baron [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 9:55 AM
To: metrumresearchgroup/mrgsolve <mrgsolve@noreply.github.com>
Cc: Dahmane, Elyes <edahmane@rx.umaryland.edu>; Mention <mention@noreply

[2017-09-18 14:57] dpastoor commented on #272
@kylebmetrum you don't need to run nonmem on other platforms though. You just need to run nonmem once, then capture and store the results to compare against.

In addition, all the nonmem stuff could also have been run in a docker container, such as using https://hub.docker.com/r/osmosisfoundation/nonmem/ so all that would be needed is to add a license file to re-run the tests. We could help set th

[2017-09-18 15:20] kylebmetrum commented on #272
@dpastoor Thanks.  The docker sounds like a nice option for this.  In the comment I just wanted to make the point that the NONMEM setup (as it exists in the repo) couldn't be thought of as portable.  It would be nice to (at least) get the nonmem "standards" organized somewhere to check against.

[2017-09-19 01:18] JSC67 opened #275 "different code output versus example"
I was following along in the file introduction.pdf (pertinent to the 2016-03-12 tutorial) and found that the file intro_model.cpp needed to be modified before it would compile properly due to a deprecation.  Well and good; I compiled this:

[code]

and continued on and executed this and got what was shown below (ASIDE: I want to have this show up as R output, but the simple text editing tool Githu

[2017-09-19 01:22] dpastoor commented on #275
This is likely because you are drawing a different individual from the omega distribution

For example if you table out CL

$CAPTURE
DAY CLi

you'lll see each time you run it will be a different clearance.

I'd suggest setting a seed to get a consistent result.

[2017-09-19 01:26] JSC67 commented on #275
Actually, on p. 9 of the tutorial there is a set.seed(2192) step, which I did.  I should've mentioned that first.

[2017-09-19 01:36] dpastoor commented on #275
did you run all lines of the tutorial from that point on before getting to your example code?

Every time the RNG is invoked it keeps going, so, for example if another set of code had been run before your example, it would have moved from that seed already.

[2017-09-19 01:47] JSC67 commented on #275
Even if I repeat the code from the set.seed(2192) line, I get what I had, but it's entirely possible that some intervening code had been executed before the tutorial output was executed, so  your explanation may still be correct.  I'll assume this is the case and close this, but if you think that there may be more to it, please let me know.  Thanks.

[2017-09-19 01:47] #275 closed

[2017-09-19 05:26] kylebmetrum commented on #275
@JSC67  @dpastoor The source code for this is now in a private repo.  But the `intro_model.cpp` was actually slightly different than what appeared in the slide (see also the attached).
<img width="1027" alt="screen shot 2017-09-19 at 12 12 22 am" src="https://user-images.githubusercontent.com/16908301/30576946-d9c60388-9cd0-11e7-9d86-f201272443fa.png">

Try this model with the `2192` seed and you'

[2017-10-04 00:35] abuhelwa opened #276 "Accounting for time-varying covariates"
Below is a demo example of a simple 1 compartment first-order absorption model to illustrate the issue. The bioavailability in my model (F_GUT) is time-varying within the same subject and is calculated based on duration of treatment; DAY in the input dataset. However, mrgsolve is not doing the right thing here as it still assumes F_GUT=1 for the second dose while it should be 0.6065307 as per the

[2017-10-04 05:16] kylebmetrum commented on #276
Hi @abuhelwa  -

The behavior that you are seeing has to do with the fact you have a dose scheduled for 24 hours (via `addl`) __AND__ you have an observation at that time.  Even though you coded all of the observations and doses into the data set, `mrgsolve` has to decide what to do first at 24 hours: the dose or the observation.  mrgsolve implements the dose first and that happens __before__ it m

[2017-10-04 14:01] kylebmetrum commented on #276
@abuhelwa Also, note that `mrgsolve` handles time-verying covariates differently than nonmem.  When the system advances from record `n` to record `n+1`, `mrgsolve` uses the covariate on record `n`, not the covariate on record `n+1` to advance the system.

[2017-10-04 18:56] krinaj opened #277 "Time varying clearance and define time in model code"
Hi Kyle and all,

My question might be related #276.

I am trying to incorporate a covariate that is dependent on number of doses. I tried adding NDose in dataset that looks like below and then calling out param(NDose=NDose) in R simulations call. But it says parameters has to be single number. It is not able to take list of the same covariate for the same ID.
![image](https://user-images.githubus

[2017-10-04 19:03] kylebmetrum commented on #277
Parameters are always single values.  If you want to access the current time in `$MAIN`, use `TIME`
http://mrgsolve.github.io/user_guide/model-specification.html#time

But you might also try something like this (not tested ... only to illustrate idea or approach).

[code]

[2017-10-04 19:07] krinaj commented on #277
great, TIME works perfectly.

Thanks so much for quick response.

On Wed, Oct 4, 2017 at 12:03 PM, Kyle Baron <notifications@github.com>
wrote:

[2017-10-05 01:09] abuhelwa commented on #276
Hi @kylebmetrum

Thank you for your response.
I have put `DAY` inside the `$MAIN` and this solved the problem for the amount going into `GUT` compartment at `time=24` (this is now matching NONMEM output). However, as I mentioned earlier, I also have `CL` varying with time but looks like `mrgsolve` is not handling that in the way it handled  `F_GUT` at `time=24` (the simulated amount in `CENT` is n

[2017-10-05 03:42] kylebmetrum commented on #276
@abuhelwa Guessing here, but it seems like maybe NONMEM is using analytical solution and you're using ODEs with limited tolerance in `mrgsolve`?  If you increase the relative tolerance to 1E-12 or so, the value at time 24 gets closer to NONMEM.  And when you use the analytical solution in `mrgsolve` it matches exactly (even the amount in GUT at the end of the dosing interval).

Here is my code:
[c

[2017-10-05 04:35] abuhelwa commented on #276
@kylebmetrum Thank you Kyle. I used ADVAN13 TOL=9 and $DES in NONMEM. I used the default tolerance in mrgsolve. The mrgsolve result is **closest** to NONMEM when `atol=1E-15` but yet never matches NONMEM output. The model I am using is a complex one and has to be coded in DES (the one I posted here is just for demonstration purposes).

[2017-10-05 14:15] kylebmetrum commented on #276
@abuhelwa Here is exact match to nonmem output (with respect to CENT .... GUT needs more precision to get it to match) using the ODEs and the same tolerances.

In this approach, we make the record at `time==23` and `evid==2` record;  this forces the solver to stop and reset, but otherwise like a an `evid==0` record.  This will slow down the simulation run

You can achieve a similar behavior by red

[2017-10-05 14:32] kylebmetrum commented on #276
@abuhelwa

I hope the responses we have provided have been helpful to you.  We have given you many different options for working with the model to get the output that you want.  I think the differences between `mrgsolve` comes down to (known) differences in record processing and some differences in the solver settings between the two tools that are maybe less clear.

If you want to use `mrgsolve`

[2017-10-05 17:20] #277 closed

[2017-10-05 17:25] kylebmetrum commented on #277
@krinaj

Ok.  I probably should have pointed this out from your code so you are aware going forward:

[code]

You declared a double precision variable, but didn't initialize it to anything.  This code will never do what you want and you always need to set a variable to something.  It doesn't have to be right away, but usually we do initialize stuff right away.  It's good practice.

If you need acc

[2017-10-05 23:31] abuhelwa commented on #276
@kylebmetrum
Thanks Kyle. The responses have been helpful. `mrgsolve` is an amazing package and I would actually prefer it over `NONMEM` for doing simulations. This is my first time using the package and wanted to get deeper understanding of it by comparing against `NONMEM` output.

[2017-10-05 23:31] #276 closed

[2017-10-09 23:52] AJABADI opened #278 "Conditional assign_ev"
Hi Team mrgsolve,
My understanding is that when we assign an event in form:
`data <- assign_ev(list(ev1,ev2), idata,"SEX", join=TRUE),`
ev1 is assigned to the first value for "SEX" column, and ev2 to the next distinct "SEX" value. Since I generate SEX values randomly, how can I make sure ev1 is assigned to the value SEX==1?
Thanks in anticipation

[2017-10-10 02:02] kylebmetrum commented on #278
Hi @AJABADI  -

Thanks for the question.  You can try writing a little test to confirm the behavior (I posted one below).  That said, I regret that this is the behavior.  I think I was originally trying to get away from sorting anything, but ... hrm ... it seems like a bad decision now.

We have similar function that lets you assign observation time grids to IDs or different levels of a covariate

[2017-10-10 02:06] kylebmetrum commented on #278
Ah ... @AJABADI I just caught the nuance in your question.  Right ... this makes it really clear that we need to sort the covariate prior to assignment.

My only workaroud at this point would be to sort the data frame first:

[code]

I think we have to bite the bullet here and change this.  Thanks for bringing it to my attention.

[2017-10-10 02:36] AJABADI commented on #278
Oh... That was easy! Nice and simple!

Thanks Kyle for your quick reply. Actually, this easy trick along with relevant definition of new data columns should be sufficient for most of the problems which need individualised dosing events  (in case you're wondering, I wasn't trying to adjust the dosing based on how frail the patients are, which can have more than 2 levels). The only penalty seems to

[2017-10-10 12:41] kylebmetrum commented on #278
@AJABADI  No problem.  You can always re-arrange the data frame if order is an issue.  But I think we just need to bite the bullet and change the behavior so you don't have to do any of this.

KTB

[code]

[2017-10-10 12:41] #278 closed

[2017-10-14 14:49] kylebmetrum opened #279 "Change assignment behavior for ev_assign"
Based on issue raised in #278 ; this really needs to change.  The assignment should be based on sorted unique values in the `evgroup` column,  not just the unique values.

This change will also make us consistent with `as_deslist` type stuff, where designs get assigned based on a grouping value that is in the `idata_set`.

[2017-10-14 14:53] kylebmetrum commented on #279
`as_deslist` behavior
https://github.com/metrumresearchgroup/mrgsolve/blob/master/R/class_tgrid.R#L94

[2017-10-15 23:47] kylebmetrum opened #282 "Add file argument to mread, mcode, et al"
This would allow users to put the model in a file with any extension.

[code]

or

[code]

[2017-10-17 16:20] kylebmetrum opened #289 "Time-varying Covariates"
Opened this issue on RxODE:
https://github.com/nlmixrdevelopment/RxODE/issues/6

My testing against nonmem looks like, when using a fully specified input data set (both observations and doses), you do get the same answer.  I had to think about it for a while and go back to the simulation cycle.  The "current" record is the record we are advancing to; that is where we copy the covariates from and w

[2017-10-18 03:56] mattfidler commented on #289
I just saw your post.  So mrgsolve uses `NOCB`?

[2017-10-18 10:10] kylebmetrum commented on #289
@mattfidler Yeah ... I was saying `locf` but it's `nocb`.   I've been thinking about this issue for a while and I'm sure did a test or two at one point.  But was just mistaken.  It's obvious to me now as I work through the simulation logic.

I agree with [your assessment here](https://github.com/nlmixrdevelopment/RxODE/issues/6#issuecomment-337453214).  I added in toggle to pick between `nocb` and

[2017-10-18 23:23] mattfidler commented on #289
Thanks again.

[2017-10-23 01:44] mattfidler commented on #289
I think you finished your project too

https://github.com/metrumresearchgroup/mrgsolve/projects/5

[2017-10-28 23:39] pitla1 opened #291 "openMP"
While installing mrgsolve, I get this warning..

/data/R/lib/RcppArmadillo/include/armadillo_bits/compiler_setup.hpp:474:96: note: #pragma message: WARNING: use of OpenMP disabled; this compiler doesn't support OpenMP 3.0+
   #pragma message ("WARNING: use of OpenMP disabled; this compiler doesn't support OpenMP 3.0+")

[2017-10-30 15:32] kylebmetrum commented on #291
HI @pitla1 The warning is coming from `RcppArmadillo` headers.  You can try contacting that project if you want dig into it.  `mrgsolve` doesn't utilize OpenMP so there is no issue for us.

[2017-10-30 15:32] #291 closed

[2017-10-30 16:19] mattfidler commented on #291
`RxODE` does not directly use OpenMP, either.  You have to use a supported linux distribution to make use of it;

https://wbnicholson.wordpress.com/2014/07/10/parallelization-in-rcpp-via-openmp/

Then it would work in that Linux distribution (but not on windows or mac).  In theory it will make both `RxODE` and `mrgsolve` slightly faster when they use the `RcppArmadillo` routines.

[2017-10-31 17:07] #289 closed

[2017-10-31 20:22] #282 closed

[2017-10-31 20:24] kylebmetrum opened #293 "[F] Option to let system settle to SS , subject by subject"
- Not PK steady state, but settle to steady state for individual parameters

[2017-11-01 21:14] dpastoor commented on #279
hmm, I have one potential issues with this (not that the previous implementation handled it). I still think this may be too non-deterministic, in that the event context being joined is based on the unique values present at runtime, rather than a more proper key/value matching.

For example, given a subpopulation with a low prevalence, when generating values, if that group does not exist, I think,

[2017-11-01 21:55] kylebmetrum commented on #279
It would probably be safest if the user was explicit about listing all of the unique values in `evgroup` and taking that order to match up with the order in the event list.  It might not always be super-easy or error-proof to come up with this, but at least it would be up to the user.  I would use names in the event list and use that to match up with unique values in `evgroup`, but I didn't like h

[2017-11-01 22:06] dpastoor commented on #279
off my head, thinking about the api that would feel nice to me for this might be like what about `join_ev` and make use of tibble list columns to store the evs

[code]

[2017-11-01 22:15] kylebmetrum commented on #279
Nice and elegant.   Let's do `ev_join` instead?  (I think we were aiming for a series of functions with `ev_` prefix to group them together).

And I think it will just be a wrapper around `ev_assign` that does some work to look at `ev_grp` and `idata` and get that input into the right shape to pass off?  Maybe there is a more-elegent way to put it all together.  I can't tell at this point whether

[2017-11-02 01:11] dpastoor commented on #279
yes brainfart on my end, definitely should keep a consistent api. Don't have too much time to think about it right now as I'm at T-minus 1 week to dissertation submission (finally). Will circle back and take a stab at it if you haven't gotten around to it by the time I can have a spare moment.

[2017-11-04 02:43] WangdaZ opened #295 "Calculate population mean Cmin with Mrgsolve output functions"
Hi All,
I am trying to calculate the population mean Cmin with Mrgsolve output functions, which works with reactive data frame.

library(dplyr)
 mrgsolve:::house()
 out.cmax<-mod %>%
  ev(amt=100) %>%
  mrgsim %>%
  filter(time >=10) %>%
  group_by(ID) %>%
  summarise(Cmin=min(DV))

The code above calculates the overall minimal concentration. Is there similar function allows to calculate the mean

[2017-11-04 03:17] dpastoor commented on #295
Wangda,

This actually is nothing specific to mrgsolve, you can just use dplyr (as you are using for summarize)

In this case you have all coins by I’d, and you can extend this at this point

[code]

That would further calculate the min, 5th percentile, median, mean, 95th percentile and max value for cmin

Again, this is not something built in to mrgsolve, but leveraging the additional functionali

[2017-11-04 03:30] kylebmetrum commented on #295
@WangdaZ This should be something along the lines of what @dpastoor suggested.  I filled in the example a bit so that there would be replicate `Cmin` on which to calculate the mean and 95% CI.

Load the model and put something in `$OMEGA`
============================================

[code]

    . $omega
    . $...
    .         [,1] [,2] [,3] [,4]
    . ECL:     0.1  0.0  0.0  0.0
    . EVC:

[2017-11-05 14:28] WangdaZ commented on #295
Thanks@dpastoor @kylebmetrum. Both approaches worked.
P.S. in case the codes above doesn't work for you, try
detach("package:plyr", unload=TRUE)

[2017-11-16 23:49] kylebmetrum opened #296 "Document pk1 and pk2 and popex"
in `modlib()`

[2017-11-27 03:34] tonggne opened #297 "question about evid=3 and compartment initialization"
Hello Kyle,

I am working on a model that need EVID=3 to reset the system and reinitialize the compartments. The model include both the PK and PD compartments, and as expected EVID=3 will clear out the whole system. Since only the PD compartments need to be reset, I tent to re-initialize the PK compartments to the exact value before the reset. I did that in the $MAIN section. Also, the PD compartm

[2017-11-27 13:13] kylebmetrum commented on #297
Hi @tonggne -

It might be that `evid==3` records are not currently getting scheduled out through the `addl` mechanism.  I can look into that.  I'm pretty sure there is a restrictive policy there.  But may need to be reconsidered.  Anyway, we made a  function that will address this ... `realize_addl` will make all of the `evid 3` records explicit in the data set.

It sounds like the implementation

[2017-11-27 19:01] tonggne commented on #297
Thanks Kyle.

The "realize=TRUE" works for EVID=3 (all of the evid 3 records explicit in the data set). I will play with model more before I get back to you with more information

Best,
Tong

[2017-11-27 19:25] kylebmetrum commented on #297
Thanks, @tonggne.  I'll start an issue to get `EVID==3` (and probably 4) recognized by the `addl` system.

KTB

[2017-11-27 19:26] kylebmetrum opened #298 "Schedule doses with EVID %in% c(3,4) via addl"
As reported in #297

[2017-11-27 20:49] tonggne commented on #297
Hello Kyle,

Now the model works as expected!

I would need to first save the states of the PK compartments to couple of new variables in $TABLE, and then assign the new variables as initial values back to the PK compartments in the $MAIN if EVID==3. By doing so, the EVID==3 will not have any impact on the PK system.

$MAIN
if (EVID==3) {
GUT_0=A1;
TOTAL_0=A2;
UNBOUND_0=A3;
}

$TABLE
double A1=GUT

[2017-11-27 21:17] kylebmetrum commented on #297
@tonggne

Just be careful with the variables `A1`, `A2` and `A3`.  I think it'll be ok as long as the `EVID 3` record isn't the first record in the data set (probably true).  Just make sure that you don't reference `A1`, `A2`, or `A3` before they get defined.

It would be safer to just declare and initialize them before `$TABLE` so that the variables are always initialized.  Maybe in the `NEWIND <

[2017-11-27 21:23] tonggne commented on #297
Thanks Kyle for the suggestions!

[2017-11-29 18:43] kylebmetrum commented on #298
ADDL labels PREDPP’s additional dose (ADDL) data item. The additional dose data item is optional. In a dose or reset-dose event record it describes how many additional doses, exactly like the present ("initiating") dose, should be given. The interdose interval (II) data item gives the time between the additional doses (See ii).
When ADDL is 0, no additional doses are given.
For non-steady-state do

[2017-11-29 18:43] kylebmetrum opened #299 "Infusions with EVID==4 are not properly terminated"

[2017-11-29 19:25] kylebmetrum commented on #298
Maybe this is something where we have to check behavior again.  But `viii.pdf` seems to say
that `ADDL` must be zero for reset events.

[2017-11-30 15:13] kylebmetrum opened #300 "References in ?mrgsolve"

[2017-12-04 13:15] #299 closed

[2017-12-06 14:47] WangdaZ opened #302 "Body weight based dosing events"
Dear Kyle and all,

I am trying to simulation PK with WT based dosing (2mg/kg as example). Using house model as example below:
###works fine with 2mg dosing with 3 different ii
mod <- mrgsolve:::house()
idata <-
  data_frame(ID=1:10) %>%
  mutate_random(WT[50,100] ~ rnorm(70,10))
ev1 <- ev(time=0,amt=2, cmt=1, ii=5, addl=1)
ev2 <- ev(time=10,amt=2, cmt=1, ii=10, addl=1)
ev3 <- ev(time=30,amt=2, cm

[2017-12-06 16:28] reejbee commented on #302
Hi Wangda,

 In your data_set (data.all) you have repeat events for IDs that are not sorted. If mrgsim sees an ID column 1:10, followed by a 1 again it assumes a new individual to simulate.
Try this for your simulation code and see if this is what you are looking for:

out.wt<-mod %>%
  data_set(data.all %>% **arrange(ID,time)) %>%**
  #idata_set(idata) %>% ## You don't need this line since weight

[2017-12-06 16:45] WangdaZ commented on #302
Hi Rena,

It works now. Thanks for the help.

Best,
Wangda

[2017-12-06 16:59] billdenney opened #303 "PKNCA Data Link"
I've recently been working on some automated data management code ([/billdenney/pknca.portation/](/billdenney/pknca.portation/)).

The code is still young (only use it right now if you're confirming that you're getting what you expect), but one common use case that I've found is the need to do simulations in `mrgsolve` and then do NCA on the output.

To do this, I'd need a bit more information tha

[2017-12-06 17:17] #302 closed

[2017-12-06 17:39] dpastoor commented on #303
not to answer this atm, but at least one thing that you could also consider is to to also 'take control' over the simulation settings before the simulation occurs

[code]

or even

[code]

That way you can control the request object and do additional introspection to ask for certain things before the simulation occurred.

[2017-12-06 19:54] billdenney commented on #303
@dpastoor, I like the `augment_nca` idea!  `nca_sim` assumes that I'll know a lot about the internals of mrgsolve and the simulation that may change over time (i.e. `augment_nca` could be in my package; `nca_sim` would need to be in `mrgsolve`).

I'm agnostic to where the functions go, but I'm trying to make `PKNCA.portation` into a good, generic model-ready dataset creator, so I'd like to avoid r

[2017-12-08 23:40] billdenney commented on #111
@dpastoor Ping for the example?

[2017-12-09 00:13] dpastoor commented on #111
basically the simplest example you can get:

[code]

lets break it down:

1) the future package gives a wonderful abstraction on multiple parallel processing packages. More importantly, it also allows you to switch between threaded execution in those separate processes, and a synchronous calculation in the main process. This is amazing for debugging as stuff running in the forks/threads gobbles me

[2017-12-09 00:26] billdenney commented on #111
Thanks for the quick and detailed response!

[2017-12-09 03:16] kylebmetrum commented on #111
@dpastoor Thanks for the nice example.  I really need to get back into using `future`.

Regarding `mrgsolve` having difficulty finding the model when forking.  If this is happening sometimes and other times it doesn't but with the same parallel method, I'm not sure why that might be.

But sometimes (depending on the method) when you fork a process for running the job, you can get the model object

[2017-12-09 14:10] mattfidler commented on #111
@dpastoor Thanks for the tip about `future`.  I do agree that travelling to R has its costs.  I also would like to note that the development RxODE does not solve one individual at a time.  I do not know the speed differences between the approaches, though.

[2017-12-09 14:26] dpastoor commented on #111
@mattfidler sorry if that is my mistake. As of the last time I took a look at development (admittedly was before you really got going hard on refactoring) it still involved looping over each individual one at a time.

You may want to update the examples if there is a way to do this in one shot, such as:

[code]

to reflect a way of doing this without needing to individually call each time. This is

[2017-12-09 14:56] mattfidler commented on #111
I agree, once I smooth out the edges, I will provide example (I have opened up a bug report).

Also `for` is horribly inefficient.  Even if this was a single simulator this should be updated.

I am curious, how does `future` work?  As I understand it, the `future` would parallelize on the R level, not the C, am I somehow mixtaking? That would make `mrgsolve` only group what simulations you want to

[2017-12-09 15:44] dpastoor commented on #111
You are correct - and thus the recommendation part 1 - minimize the number of 'chunks' you have to break apart the designs/scenarios into and give as much to a single mrgsolve invocation as possible.

Eg in a naive simulation (future or otherwise) calling

[code]

will cause the back and forth to happen for each individual.

For mrgsolve it is much better to generate a dataframe of all ids, then s

[2017-12-09 16:04] dpastoor commented on #111
And regarding how future works, to a large extent it is an abstraction over the more base parallelization packages, that also takes care of a lot of hand-work for you (shuttling global variables, packages, etc into the forked process). One other very cool feature is that abstraction has also been extended to actual grids as well so you can use it with SGE/torque/SLURM with the same API

So as to p

[2017-12-09 16:09] dpastoor commented on #111
In particular, in an *optimal* scenario for parallelization (virtually no data transfer, on a imac with ssd) here is the difference:

![image](https://user-images.githubusercontent.com/3196313/33797169-533d988a-dcd1-11e7-9a95-7cf29b6614e1.png)

around 1000 individuals you see parallelization starting to take the lead, but again, in real life with also passing in data or other scenarios or passing

[2017-12-09 16:10] dpastoor commented on #111
[code]

[2017-12-09 21:09] kylebmetrum commented on #111
@dpastoor @mattfidler Good stuff, good discussion.  And it looks like @dpastoor is trying to sneak another chapter into his thesis ... just print off this thread and stick it in the back :)

Most large-scale simulation we do involves replicates ... so some number of individuals simulated `nrep` times.  In my typical workflow, I almost take my `number-of-individuals` and make that a unit simulation

[2017-12-09 21:43] dpastoor commented on #111
Ha that is ancient history (as of last Thursday) :-)

[2017-12-10 00:46] kylebmetrum commented on #111
@dpastoor Yeah ... Vijay sent me a picture of the historic event. Congrats!

[2017-12-10 03:14] mattfidler commented on #111
Congratulations @dpastoor , I'm sure it is well deserved!

[2017-12-10 04:04] billdenney commented on #111
Congratulations, @dpastoor!

[2017-12-10 06:00] mattfidler commented on #111
I think @kylebmetrum has a point about discretizing the simulations. I also know that with RxODE, some R code is faster ie ~1 sec for 1800 subjects (single solve without parallization or ~0.5 ms).  The same simulation with `for` takes >10 minutes...

[2017-12-11 16:08] kylebmetrum commented on #303
Sorry I'm just getting to this.   I like the `augment_nca` idea too.  It seems like it has the least baggage to carry around.

# Detecting concentration data
* We almost never give any significance to compartment or parameter names, so I would think it would be hard to make a guess beyond saying "if we find `CENT` we'll use it otherwise please tell us which compartment to use".  That could be an a

[2017-12-14 15:53] drexell0680 opened #304 "User guide + mrgsolve.github.io editorial comments"
The user guide is a great resource, thanks for putting it together.  Here's a small list of misspellings, render issues, etc...

**mrgsolve.github.io**

- "Site navagation" (sp)

**User guide**

- 2.5.1 ($MAIN function): looks like md bullets aren't rendering correctly
- 3.2.1: "Users are free to include bock (sp) code"
- 3.2.8: "... called once in two different settings 1. Immediately prior...  1

[2017-12-16 19:45] billdenney commented on #298
Regardless of the contents of `viii.pdf`, I'd be confused if `EVID = 3` had an `ADDL` value since it should be reset-only.  (Is the desire to reset the data on a schedule?)

Perhaps giving an informative error message like "ADDL must be 0 when EVID = 3 or 4" would be the more helpful way to take care of this?  (That may already exist.)

[2017-12-16 21:25] kylebmetrum commented on #298
@billdenney Thanks.  I was thinking `EVID 4` was more in the "dose" category rather than "reset" (as I understand it, it is "reset and dose").   I think mrgsolve `EVID 4` is "reset, dose, give additional doses if ADDL > 0`.  Maybe that isn't what should happen.  But it shouldn't be controversial with a NONMEM-compliant data set (where - maybe - ADDL would always be zero in that case).  I struggle

[2017-12-16 21:28] kylebmetrum commented on #298
And the EVID 3 with ADDL question came up b/c a user seemed to be using it in their code and was wondering why it wasn't matching NONMEM output.  I wonder if there was mis-match in how the model / data was coded up for that one.

[2017-12-17 15:03] #295 closed

[2017-12-17 15:04] #264 closed

[2017-12-17 15:05] #297 closed

[2017-12-17 15:06] #272 closed

[2017-12-19 15:36] JSC67 opened #307 "Extension of MAP Bayes example"
Hi Kyle,

In the MAP Bayes tutorial (https://mrgsolve.github.io/2017/02/23/generate-map-bayes-parameter-estimates/) you wrote, "With some additional R coding, it could be expanded to consider multiple individuals in a single run." and at http://discuss.go-isop.org/t/mixed-effects-modeling-alternatives-in-r/552 you wrote, "I did some non-linear mixed effects modeling in R with plain old nlme + mrgs

[2017-12-20 05:36] kylebmetrum commented on #307
Hi James -

I hacked out an example for `nlme` that you should be able to run.

Did you check out nlmixr yet?
https://github.com/nlmixrdevelopment/nlmixr
This looks like a nice solution for nlme in R.

Kyle

<hr>

nlme.R
================
kyleb
Tue Dec 19 23:34:14 2017

[code]

    ##
    ## Attaching package: 'dplyr'

    ## The following objects are masked from 'package:stats':
    ##
    ##

[2017-12-21 13:46] mattfidler commented on #307
Thanks for the plug Kyle.

In nlmixr, there are some issues with nlme compared to something like SAEM.

I think this is true of any methods of ode solving using nlme, though I haven't tested it.

Rik has a nice analysis about nlme performance

https://github.com/nlmixrdevelopment/nlmixr/issues/21#issuecomment-353329426

[2017-12-21 16:19] kylebmetrum commented on #307
@mattfidler @JSC67 Yeah, I think when this topic came up on the isop discussion site, either nlmixr wasn't on my radar or maybe it wasn't super public yet.  Just seems like the obvious place to start for these problems.

@JSC67 The link to the ASBMR poster is here:
http://metrumrg.com/wp-content/uploads/2017/10/Baron_ASBMR_2013.pdf

[2017-12-22 03:57] mattfidler commented on #307
@kylebmetrum I understand about not being on the radar.  I didn't really know about what pharmacometric open source software was out there until recently.

[2017-12-22 20:19] kylebmetrum commented on #304
Thanks again, @drexell0680

[2017-12-22 20:19] #304 closed

[2017-12-23 14:39] billdenney commented on #303
@kylebmetrum, It is taking me longer to re-reply.  No worries. :)

I'm more hopeful after reading your message that automatic (or at least user-assisted, semi-automatic) NCA linking is possible.

For the concentration, I would need to get a value that is likely to be the scaled central compartment concentration.  For that, I could start by lookin for a common parameter name choosing the first of `

[2017-12-23 17:58] kylebmetrum commented on #303
Hi @billdenney -

Just a quick response.  Will continue to think about it.

Kyle

-   [Find names](#find-names)
    -   [Method 1](#method-1)
    -   [Method 2](#method-2)
    -   [Method 3](#method-3)
-   [Pass an attribute](#pass-an-attribute)

[code]

    ## Compiling pk1 ... done.

Find names
==========

Method 1
--------

[code]

    ## [1] "ID"   "time" "EV"   "CENT" "CP"

Method 2
--------

[2017-12-23 18:29] billdenney commented on #303
@kylebmetrum, Thanks for the quick response!

For extracting the returned names, Method 1 seems simple and likely to be stable.

For the attributes, I think that a formal model extractor would be preferred to me (and generally may be useful to others).  Perhaps an "as.mrgmod" function that can operate on simulation results?

[2017-12-26 13:34] kylebmetrum opened #308 "[F] Change source file assumptions made by mread"
When calling `mread`, take a look at the `model` argument.  If we think it already includes a file extension (`\\.[[:alphanum:]]{1,3}`) don't tack on the `.cpp` suffix when looking for the model source code.

### example
[code]
will read from `mymodel.txt` file.

[code]
will read from `mymodel.cpp` file.

[code]
will read from `my.model.cpp` file.

[2017-12-26 14:10] kylebmetrum commented on #296
d91986bd308cb8a6f81f070b3fa59c32e2706b0e

[2017-12-26 14:10] #296 closed

[2017-12-27 13:17] kylebmetrum commented on #303
@billdenney

Just to make sure we're talking about the same things here: I think the burden of adding an attribute to the model object and getting it back after the simulation would still be on the programmer (you). Is that right?  I sort of floated the attribute idea as a quick way to do it.  But you could do something more formal than that just as easily.

The question is around how do you go ge

[2017-12-27 20:45] JSC67 commented on #307
Hi Kyle, wow, thank-you for this example.  After I posted this issue, based on your words "If I were to do it over today, I’d probably take the time to look at saemix first." and also Rik Schoemaker's comment "I agree the documentation can be improved big time :-). " (both at http://discuss.go-isop.org/t/mixed-effects-modeling-alternatives-in-r/552), I looked into saemix first and am just now seei

[2017-12-28 15:27] billdenney commented on #303
@kylebmetrum, I think that this discussion went afield of the original request.

Getting back to the basics of the question, I think that I know (most of) what I need to know to get started, and I think that I can do everything at the end (so `augment_nca` won't be required, everything can be done after the simulation is complete).

Starting from the example that you just gave:

[code]

**Extracti

[2017-12-28 16:53] billdenney commented on #209
Reviving this open issue...

I occasionally forget to set the PATH in my windows environment, and in an attempt to have reproducible research, I also try to have all the required settings within the code.  (That means that I try to avoid changes to files like `.Renviron`, too.)

There is a function in the `devtools` package, `find_rtools` which could help if it returned the actual path, but it onl

[2017-12-30 03:00] mattfidler commented on #209
I did this on RxODE.  You could use that function if you wish.

On Thu, Dec 28, 2017, 10:53 AM Bill Denney <notifications@github.com> wrote:

[2017-12-30 14:51] kylebmetrum commented on #303
Hi @billdenney

## Regarding upper / lower case

Start with `time` / `TIME`:

- It is either `time` or `TIME`; if `time`, all of the other "nmtran"
type data items need to be lower case; if `TIME`, all other "nmtran"
type data items need to be upper case

- Then it is either `EVID` or `evid`
- And either `AMT` or `amt`
- And either `II` or `ii`
- And either `ADDL` or `addl`

- It's an error if you

[2017-12-30 14:55] kylebmetrum commented on #307
@JSC67 It all depends on what you need to accomplish, how much flexibility you need, what your other options are etc.  If you really need to be working in `R`, I'd look at `nlmixr` first.

[2017-12-30 14:55] #307 closed

[2017-12-30 17:26] billdenney commented on #303
Hi @kylebmetrum,

Thanks!  I think that I'm almost where I need to be.

One remaining question:  "`out@mod@events` is going away"  Are events stored anywhere else in the simulation object?  Everything else that we're discussing, I can get from the simulation object, so that would simplify the process not to have to do any pre-treatment before running the simulation.

[2017-12-30 18:48] kylebmetrum commented on #303
@billdenney Events are currently stored, but the goal moving forward is to not store them in the model object.  One problem is that it would only work for event objects, not data sets.  And if we wanted to keep all of that around, we'd have to stash a bunch more stuff.  We could think of a flag that would automatically capture the input data, but then you'd have to make sure that flag was set too.

[2017-12-30 19:16] kylebmetrum commented on #303
@billdenney thinking about this over lunch ... seems easier to me now to just
write a wrapper around `mrgsim` as @dpastoor suggested.  It just doesn't seem to be more work or risk.  And it seems like it's the place where you'd want to have control ... you get the last say on what happens to the data / model prior to simulating.  If you pre-process the model or data,
the user could fiddle with it p

[2017-12-30 22:10] billdenney commented on #303
@kylebmetrum, as I've been thinking over it today, I think that I came to a similar conclusion that direct extraction of events is not the simplest with just the simulation results.  I think the path that I'll take will be:

* an `mrgsims` object is usable as concentration-time data (using it in a `PKNCAconc` call.
* Dosing data can come from the events put into the model, but they will be gathere

[2018-01-09 22:40] billdenney commented on #308
Suggestion:  Maybe simplify this so that it first checks if "filename.cpp" exists (because there is a reasonable chance that both "filename" and "filename.cpp" will exist) then "filename", and if neither exists, then give an error.

[2018-01-09 22:45] billdenney opened #311 "Feature Request: Make status 127 Error More Informative"
Related to mrgsolve/examples#1, #91, #160, and tangentially #170, can you detect the exit status of the compilation step, and rather than the generic "Error: there was a problem building the model." provide a more specific error if on Windows like:

"There was a problem building the model.  Please check that RTools is installed and can be found on the path."

[2018-01-10 20:26] billdenney opened #312 "NA values in input data sets"
I'm not sure where to start looking for the fix to the error mentioned in the subject.  The full error is below (and I unfortunately can't share the code).

[code]

[2018-01-10 20:42] kylebmetrum commented on #312
Never seen this before.  But it's is in some C++ code somewhere and the model functions never get a matrix; so maybe the `$OMEGA` or `$SIGMA` matrices?

To start narrowing it down:

If you can:
[code]

[code]

[code]

[code]

[2018-01-10 20:58] billdenney commented on #312
It seems happy enough with `drop_re`:

[code]

[2018-01-10 21:00] billdenney commented on #312
Also, a simpler simulation where I'm generating the dataset by hand works without issue (without `drop_re`).

Is there a chance that I'm passing in a variable that I'm also defining in the model and that's causing the problem?  (i.e. a column name in `vpc_dataset` is the same as a parameter that may be calculated in the model.  I'm checking that now.)

[2018-01-10 21:09] billdenney commented on #312
Might it have something to do with a potentially repeated ID number in the file?

[2018-01-10 21:13] billdenney commented on #312
When I change `n_sub` from 1 to 2 in the code below, it gets the error.  Is there anything obvious there?

[code]

P.S.  I'm going for the record of most comments in the shortest time.  :)

[2018-01-10 21:17] billdenney commented on #312
Now it's getting weird:  When I remove sorting by the `ID_ORIG` column, I can go up to `n_sub <- 6` (n_sub=6 has no error; n_sub=7 has an error).

[2018-01-10 21:31] billdenney commented on #312
OK, I think I found the underlying error:  some of the TIME column values were `NA`.  Filtering those out fixed the error.

And on top of that, I was capturing `TIME` to use time after dose in one of the equations which made the differential equation results all `NaN`.  I'll try to make a minimally reproducible example shortly (unless this makes the fix obvious to you and you don't need more).

[2018-01-10 21:37] kylebmetrum commented on #312
Ok;  hrm ... I was thinking it was some issue with `$OMEGA`, but now maybe it's `$SIGMA` ; not sure.  I'll try to reproduce as well.  There isn't any checking for `NA` values going on; usually when it's a covariate, just fills the simulation with `NA`.  Wasn't aware that missing `TIME` could fail so cryptically.

[2018-01-10 21:42] billdenney commented on #312
With this, it's raising NA or NaN to a power at one spot, and at a different point in the model, it is taking the square root of NA or NaN.  These are then being multiplied by EPS(1) (or EPS(2) or EPS(3)).

[2018-01-10 21:47] kylebmetrum commented on #312
I couldn't get the matrix access problem;  but did see this (sort of what I was expecting)

[code]

But I also saw something different with a different model

[code]

[2018-01-11 01:13] billdenney commented on #312
I haven't been able to make a minimal reproducible example, but I have made something else that gives an unusual error:

[code]

[code]

[2018-01-11 16:22] billdenney commented on #312
@kylebmetrum, To help with debugging the original issue, is there a specific part of the code that I can examine to find the problem?  Is there a way to narrow it down to a line number, an operation, or a variable?

[2018-01-11 19:28] kylebmetrum commented on #312
@billdenney Sorry for the delay ... our internet service was out overnight and just came back.

I know where the issue is - trying to access a vector at index `NA`.  There needs to be a check for missing values and an error generated at least for some of these data items.  I'm afraid that `if(any(is.na(simdata))) stop()` is going to be too heavy handed at first since people probably pass missing d

[2018-01-11 19:43] billdenney commented on #312
@kylebmetrum, no worries at all on the delay.  Once I got to the point that removing data with `NA` time fixed my issue, it was more about helping make `mrgsolve` more robust.

While I think of `mrgsolve` as mostly an exceptionally useful ODE-integrating tool, I also see its value in time-independent simulations (e.g, if I'm fitting an Emax model).  With that, I agree that `if(any(is.na(simdata)))

[2018-01-12 03:35] kylebmetrum commented on #312
@billdenney You can test for NA with `isnan`

[code]

It's just tricky;  the parameter update will happen under the hood no matter what; so if you have some other path to take, you can do it.  But there isn't an "automatic" way to get back to the last value before you see the nan etc.   I dunno ... maybe this is enough to get done what you want to do.

[2018-01-12 03:41] kylebmetrum commented on #308
@billdenney I will re-factor as you suggest.

[2018-01-12 03:46] kylebmetrum commented on #311
This got a little tricky due to OS differences:

https://github.com/metrumresearchgroup/mrgsolve/blob/master/R/mread.R#L460

But I think on Windows, we internalize the result by default and then spit it back when there is an error; instead of just catting that, we should be able to sift through and add an extra something (message, warning?) if we find 127.

[2018-01-22 20:31] kylebmetrum opened #313 "Fix mrgmod update documentation"

[2018-01-25 18:26] billdenney opened #314 "realize_addl Requires time column to be lower case in a data.frame"
Both calls to `arrange_` at the bottom of `realize_addl.data.frame` should use `timecol` instead of `"time"`.

[code]

[2018-01-25 19:58] kylebmetrum commented on #314
@billdenney What version are you using?  This might be already fixed in master.

[2018-01-25 20:16] billdenney commented on #314
I'm using 0.8.9.

[2018-01-25 20:20] kylebmetrum commented on #314
Ok;  that is probably still an issue in `0.8.10` ... but I recently re-factored that function and it should be fixed in `master`.

[2018-01-25 21:11] billdenney commented on #314
At a glance, the refactored code fixed this.

[2018-01-25 21:11] #314 closed

[2018-01-25 23:31] kylebmetrum commented on #314
@billdenney BTW ... the function was originally meant for working on `ev` objects that presumably contained dosing information (only).   Come caution is required if using this on data sets where there is covariate information.  And I think the main issue is when there are time-varying covariates (or other time-varying data).  `realize_addl` by definition must add records to your data set at some f

[2018-01-26 02:04] billdenney commented on #314
Thanks for the pointer.  I had assumed that it is stable to time invariant values on the same row and that if I needed to use time-variant values, I would need to do something else.

More simply, if it isn't ID, TIME, ADDL, or II (generalized to be upper or lower case), then it is copied to all new rows and maintained on the original row.

[2018-02-04 17:05] kylebmetrum opened #315 "Model isn't found when saving md5 sum at model load for certain project format"
[code]

[2018-02-07 18:27] RajuKadam opened #317 "mixed order absorption model simulation issue"
Hi,

I am trying to use the "mrgsolve" for simulation of mixed order absorption model following intramuscular injection.

In my Pop-PK model, I have two sequential absorption process (zero order absorption followed by first order absorption).

Initially for 320 hours drug get absorbed by zero order absorption (immediate release fraction) then after that first order absorption process start (slow r

[2018-02-07 19:51] kylebmetrum commented on #317
Not sure if this is what you're looking for ... but maybe it will help us get closer to the solution.

This is a 100 mg dose that is given as a 20 mg portion via zero order infusion over 320 hours and then a 80 mg portion that is absorbed after the 320 hour infusion is finished.

[code]

[2018-02-07 20:16] riggsmm commented on #317
Hi Raj, another option (general approach) vs actual code: set the full dose into CMTs 1 and 2 , then in $PARAM define F1 and F2 accordingly (e.g., F1 = frac, F2 = 1.0 - frac), frac = 0.2, D1 and ALAG2 = DUR1 (DUR1 = 320).  This would give flexibility in the model to varying fractions by each route and different durations for the 0 and 1st order inputs -- helpful in case those values are not fixed

[2018-02-07 23:07] RajuKadam commented on #317
Dear Kyle and Matthew,

Thanks a lot for your prompt reply.

I have used code sent by Matthew and able to simulate the desired PK
profiles for my Pop-PK model using "mrgsolve" package.

Best Regards,
Raj

On Wed, Feb 7, 2018 at 3:16 PM, Matthew Riggs <notifications@github.com>
wrote:

[2018-02-16 13:54] billdenney opened #318 "Integration Issue"
When integrating what should be a relatively straight-forward model (the model is stiff; simulation occurs over months, and there is a ~1-4 hour window of time where there is a change from a biomarker decreasing to increasing), I get the following error:

[code]

An issue that I'm having is that it's not a reliable issue:  When I rerun the model several times, I may get different results (just a w

[2018-02-16 14:15] vjd commented on #318
@billdenney  strange -- I got the exact same error yesterday for a long-running integration, however, when I drop the integration end time (mrgsim(end=<value>)) to be 800 hours instead of 1000, it works fine.

[code]

[2018-02-16 15:11] billdenney opened #319 "Downloadable User's Guide?"
Is it possible to download the mrgsolve user's guide as either a .pdf or all the web pages at http://mrgsolve.github.io/user_guide/?

[2018-02-16 15:14] dpastoor commented on #319
https://github.com/mrgsolve/mrgsolve.github.io/tree/master/user_guide

I serve it with https://github.com/dpastoor/gows/releases, but anything that will serve http (eg python SimpleHTTPServer etc is fine.

[2018-02-16 15:16] dpastoor commented on #319
steps are:

* download gows per platform and add to path (or use homebrew on mac)
* download/clone mrgsolve repo
* navigate to user_guide folder and run the command `gows`

[2018-02-16 16:33] billdenney commented on #318
Increasing the density of the output time grid resolved the issue.  Previously, I was simulating `seq(0, 24*168, by=24)`, and switching it to `seq(0, 24*168, by=1)` seemed to fix it.  It'd be nice if I could have the intermediate simulations take a finer time grid (via some integrator setting) and have the output stay as-is.

[2018-02-16 16:51] billdenney commented on #318
I spoke too soon.  I still have the issue.

[2018-02-16 17:23] kylebmetrum commented on #318
@billdenney @vjd I (already) have some commits to master and dev that give some help with solver settings.  It's probably still not enough, but it is on my radar and working on it.  Pieces are there, but need better integration (so to speak).

@billdenney Try `mrgsim(..., hmax = 0.1)`... that tells the solver not to take a step larger than 0.1 time units; something along the same lines of asking f

[2018-02-16 17:27] kylebmetrum commented on #318
@billdenney @vjd

As usual, if there is any code you can share (here or via email), I'd be happy to take a look.  Or just any additional clue about the model or input data set. I realize we don't have CDA and unlikely that the model can get blasted out to the interweb.

[2018-02-16 17:31] kylebmetrum commented on #319
@billdenney I'll look into rendering that to pdf.  I think I need some dependency to make that happen.

[2018-02-16 17:47] billdenney commented on #318
For the audit part, I had assumed that ODEs with `dxdt_CMTNAME=0;` was automatically added.  (Perhaps that's a feature request, perhaps that's a bad idea for a reason I don't see.)

In my model, concentrations are definitely going negative, but I think it' an integration rather than a modeling issue.  My snippet for a relatively standard TMDD model that I think covers the relevant parts is:

[code

[2018-02-16 17:55] dpastoor commented on #318
One thought to narrow it down to where it may be blowing up, is to serialize the state at certain time steps (or every one) and just output as text files. It will obviously slow the model down to a crawl, but can see what is going on up to the point of implosion.

A little more elegant way would be to use actual logging from C++ https://github.com/krlmlr/plogr and just push everything to stdout, -

[2018-02-16 18:12] kylebmetrum commented on #318
Debugging you can use `report` to write to stdout
[code]

When `CMTC` goes negative, is it because the value gets super small and randomly goes negative?  if so, `mrgsim(..., atol = 1E-50)`  ... make the absolute tolerance small so you can get the precision of your machine.

I wonder if negative CMTC is causing problems in other equations?  Maybe more comprehensive protection?

[code]

You have al

[2018-02-16 18:19] billdenney commented on #318
Thank you!

On further investigation, `hmax=0.001` appears to have fixed my issue.  Now that I have smoother integration, I can see that the dynamics of the system goes from CMTC ~= 1 to CMTC < 1e-100 in 4 hours.  This is a real effect based on the observed data-- the little bit of data available in my system for the concentrations < 10 suggest a half-life of ~30 days becomes a half-life of <1 hou

[2018-02-16 18:39] kylebmetrum commented on #318
@billdenney

`hmax=0.001` might slow things down quite a bit; not sure if you could get better behavior with lower `atol` and reasonable `hmax`.   Or just call it a day and truncate at zero once CMTC gets less than 1E-10?  Not sure about the other details ... if this would be a bad assumption.

There is already a section in the user guide:
http://mrgsolve.github.io/user_guide/model-components.html

[2018-02-16 20:42] billdenney commented on #318
My best of the current tested solutions was setting `atol=1e-50`.

"Or just call it a day and truncate at zero once CMTC gets less than 1E-10?"  I tried that, but the integrator didn't like my attempt.  I think it jumped over 1e-10 too quickly.

Thanks for the documentation updates!

[2018-02-16 20:43] billdenney commented on #318
(From my perspective, you can close the issue if you'd like, but maybe you'd like to continue to track the doc need until completed.)

[2018-02-16 20:59] kylebmetrum commented on #318
Ok.  Thanks for working it through.  I'll keep this open as a reminder to get more explicit about this in the documentation.

I frequently have to run with `atol = 1E-50` when doing viral dynamic modeling; the viral load keeps getting smaller and smaller and you just run out of precision.

Thanks for the question and good discussion.  Hopefully this will help people coming along.

[2018-02-17 04:46] kylebmetrum commented on #319
@billdenney

https://mrgsolve.github.io/user_guide/user-guide.pdf

This now links at the top of the user_guide gitbook page.

[2018-02-17 05:55] billdenney commented on #319
That's great!  Thank you!

[2018-02-17 13:58] #315 closed

[2018-02-18 14:53] kylebmetrum opened #321 "Refine mread documentation"
- The help topic is under `mread_cache`
- Fix details for non-`.cpp` files

[2018-02-18 14:55] kylebmetrum opened #322 "ev documentation"
- Move `events` docs to their own help topic
- Re-order usage to better focus on the constructors

[2018-02-23 04:15] kylebmetrum opened #325 "No error on improper specification of annotated OMEGA"
This is improper specification and should generate an error, but doesn't

[code]

[2018-02-28 02:03] billdenney opened #326 "Feature Request: Allow Symbolic CMT Names"
When building a dataset, I know that I must use numeric names for the CMT rather than symbolic.  But, when I'm working through model revisions, I may want to update the compartment order to make it more logical.

For example, a model I'm working on now with a monoclonal antibody that has only used IV dosing to date wants to simulate potential SC administration.  Logically, I'd add the SC dosing co

[2018-02-28 02:42] kylebmetrum commented on #326
Hi @billdenney  -

This has been available for a while.  I don't use it that much, so I'm sure there are some gotchas somewhere.  But in general, mrgsolve will map character compartment names to their numeric equivalent if it finds cmt/CMT that is character in a data set or an event object.  I'll work on the factors.  Please let me know if you find any strange behaviors or errors that don't make s

[2018-02-28 02:59] billdenney commented on #326
Mea culpa!

Thanks.  The factor part wasn't really a big deal to me.

[2018-02-28 02:59] #326 closed

[2018-03-03 04:33] kylebmetrum opened #327 "tad calculation isn't correct for addl doses when there is a lag time"
To get this right, need to start flagging dose records so that the lagged doses are ignored; it can't be solely based on `position`.

[2018-03-07 00:25] RajuKadam opened #329 "Issue in runing mrgsolve"
Hi,
I have recently  installed "mrgsolve" on my system and trying to run it first time. I have downloaded all required R packages. When I am trying to compile the model, I am getting following error message.

"mod <- mcode("demo", code)
Compiling demo ... Warning message:
running command 'make -f "C:/PROGRA~1/R/R-34~1.2/etc/x64/Makeconf" -f "C:/PROGRA~1/R/R-34~1.2/share/make/winshlib.mk" SHLIB_LDF

[2018-03-07 05:15] kylebmetrum commented on #329
Hi @RajuKadam -

The `status 127` means that R cannot find the toolchain required to install the model.

Can you tell us:

1. Did you install Rtools?
1. If so, where is it installed and what version is it
1. What is your `sessionInfo()`
1. What is the result of `Sys.getenv("PATH")`

Thanks,
Kyle

[2018-03-08 03:57] kylebmetrum opened #330 "Start tracking which parameters in a model are "covariates""
Use at-covariates; everything in the block should get listed as a covariate.  I guess there will be an exported function to get at this; but for now, just tucking it into the `as.list` output

[code]

[2018-03-08 06:23] kylebmetrum opened #331 "Bug in ev_seq when the preceding event doesn't have time equal to zero"
[code]

[2018-03-08 06:32] #331 closed

[2018-03-08 06:32] #327 closed

[2018-03-08 06:32] #321 closed

[2018-03-08 06:33] #313 closed

[2018-03-08 06:33] #322 closed

[2018-03-08 06:33] kylebmetrum commented on #308
This behaves as @billdenney suggested.

[2018-03-08 06:33] #308 closed

[2018-03-09 02:22] kylebaron opened #332 "[D] Add documentation for event objects to the user guide"

[2018-03-09 23:17] kylebmetrum opened #333 "[D] Note about non-numeric data in carry_out"
The doc already references the doc for `data_set`; let's make a note that only numeric data columns are carried out.

[2018-03-12 17:44] kylebmetrum opened #334 "Do something if tgrid is not missing from mrgsim and it is not a tgrid object"

[2018-03-21 06:20] sagar-m commented on #163
Hi, I noticed that I have x86_64-apple-darwin15.5.0-gfortran but not x86_64-apple-darwin13.4.0-gfortran which is needed to install "ClassInt" package in R 3.4.2 on mac os 10.13.2. Any suggestions?

[2018-03-21 06:59] indysandaradura opened #337 "Model compilation error"
Hi fellow users, I get the following error when trying to compile my model (mrgsolve 0.8.6.9)

Error in modMATRIX(x, context = oclass, ...) :
  mrgsolve: NA values generated when forming matrix (sigmalist).

Is this to do with how I've specified my OMEGA matrix (below)? Any help would be appreciated!

$OMEGA @block

  0.14585
  -0.22850  1.65961
  -0.10320  0.59704  0.31847
  0.05657  0.08935  0.0

[2018-03-21 12:41] kylebmetrum commented on #337
Hi @indysandaradura  -
It looks like it's not OMEGA but SIGMA instead??  Can you post those blocks?

Also ... `0.8.6` is pretty old now;  any way you could upgrade?

[2018-03-21 15:40] Meraki0918 opened #338 "Problem while installing R packages in R"
I am using my R studio on EC2 instance  in AWS.

I am trying to install packages in R, but everytime I end up with an error.

The error is shown below. I would be thankful, if anyone could guide me on how i can resolve the error.

`ERROR: compilation failed for package ‘robustbase’
* removing ‘/home/deepthi/R/x86_64-redhat-linux-gnu-library/3.4/robustbase’
Warning in install.packages :
  installat

[2018-03-21 15:43] billdenney opened #339 "Documentation: $THETA block naming Prefix"
Apologies that I'm about to submit a bevy of issues.  I've been working on some unusual modeling over the past few hours, and that has led me to have a lot of questions (and documentation requests).  I'll try to help categorize them.

Section 3.2.16 of the user guide suggests that the `$THETA` block can use another prefix.  But, there is no mention (at least there) of how you would set another pre

[2018-03-21 15:44] billdenney opened #340 "Feature Request: Control of Rate and Duration of Infusion Simultaneously"
Section 3.2.17 and 3.2.18 of the user guide indicate that `rate` = -1 or -2 enable setting of `D_CMT` or `R_CMT`.  What if I want to set both `D_CMT` and `R_CMT` (ignoring the `amt` column)?

Brainstorming a solution (if it does not already exist), maybe setting `amt=-1` and `rate=-3` or `amt=-1` and (`rate=-1` or `rate=-2`)?

[2018-03-21 15:46] billdenney opened #341 "Feature Request: Control Rate of Infusion Dynamically in $ODE"
Similar to a question I recently posed on NMUSERS (https://cognigencorp.com/nonmem/current/2018-March/6993.html), is it possible to control the input rate to a compartment in the `$ODE` block?

Specifically, I have a problem with apparent time-varying bioavailability during a long intravenous infusion (due to potential saturable adsorption of drug in the catheter).  During the infusion, I'd like t

[2018-03-21 15:49] billdenney opened #342 "Documentation: Precedence of Data Sources"
In section 7.3 (subject initialization), the documentation suggests that a parameter (column name) in `data` overrides one in `idata` since `data` is queried second.  Is this correct?  If so, could conflicts between `data` and `idata` be made explicit in the documentation?

More generally, it would help to have a list of the precedence of data sources when they conflict.  I think that the order fr

[2018-03-21 15:51] billdenney opened #343 "Feature Request: Introduce Solver Discontinuities at Times Specified within $MAIN (or $ODE?)"
Related to #340

Is there any way to introduce a solver discontinuity from within the model?

Specifically, I'd like to have the ability to turn on/off an infusion during the simulation based on other parameters during the simulation.  I could keep the solver happy by doing a change over the course of e.g. one second with a continuous approximation of the heaviside function, but if there is a simp

[2018-03-21 15:52] billdenney opened #344 "Documentation: Correction of Interpretation of RATE Column"
Section 4.2 (event data sets), indicates "rate if non-zero and evid=1, ..." that should be "rate if non-zero and evid=1 or evid=4, ...".

[2018-03-21 15:54] billdenney opened #345 "Feature Request: Add More self.* macros"
Section 3.3 of the User Guide gives a list of all macros.  It would be helpful to add a `self.*` macro for all special-meaning columns.  Specifically, I was just looking for `self.rate`.  While I can't necessarily think of a use right now, it may also be helpful to have `self.ii`, `self.addl`, and probably others that I'm not immediately thinking of.

More generally, since `mrgsolve` only allows o

[2018-03-21 16:56] kylebmetrum commented on #343
I can give you a workaround for now in a minute.

This can definitely be done; it used to be a feature a while ago (before public release) but I dropped it when refactoring the main simulation routine.

It's definitely a feature that would come in handy for a bunch of different situations. I'm working on something that will (hopefully) be flexible enough across different applications.

[2018-03-21 17:33] kylebmetrum commented on #341
@billdenney This probably isn't what you really want.  But maybe it'll work as a starting point to get us there.  I can make changes to the example if I'm using some setup or making some assumption that you don't have access to in your case.  If there is just no way to do want you want to do without introducing some discontinuity, then just disregard until that get's worked out.

I'm doing an infu

[2018-03-21 18:02] billdenney commented on #341
@kylebmetrum, That looks like it would work for my current setup.  I hadn’t seen EVID 9 before.  Is that new?

[2018-03-21 18:09] kylebmetrum commented on #338
I don't see the connection here.  Can you try asking on a more-general help list?
https://stat.ethz.ch/mailman/listinfo/r-help

[2018-03-21 18:09] #338 closed

[2018-03-21 18:53] kylebmetrum commented on #341
It's always been there, but always used internally.  When an infusion starts, we have to insert another record object to end the infusion at the right time; that's `EVID 9`.

I can put `rate` into that `self` object.  But what I think would be most helpful here is to just pass the (actual, total, current) infusion rates into `$ODE`;  with a little more coding, we could give you the option of addin

[2018-03-21 18:58] kylebmetrum commented on #341
@billdenney In your model, how do you tell when (`TIME` or `SOLVERTIME`) the infusion rate changes?  Is rate just changing as some function of time after the dose was started?

[2018-03-21 20:33] billdenney opened #346 "Error? Cannot Access RATE Parameter"
When writing a model, I do not think that I have the ability to access the `RATE` column from the data within the `$MAIN` block.  I want to make another model parameter depend on the rate.

I can't use it within `$MAIN` as a right-hand-side-only variable because during compilation, I get the following error:

[code]

And, I can't add it as a `$PARAM` becasue during mcode execution, I get:

[code]

[2018-03-21 20:34] billdenney opened #347 "Question: Why Didn't Time Advance?"
It isn't clear to me why the first attempt here did not advance the time during simulation while the second worked as expected.  I think that I don't correctly understand the `tgrid` function and option.

[code]

[2018-03-21 20:39] billdenney commented on #341
Currently, it looks something like the following in abbreviated form.

[code]

[2018-03-22 00:18] kylebmetrum commented on #347
I'm getting identical results for both tries:

[code]

[2018-03-22 00:21] kylebmetrum commented on #347
The `tgrid` thing is just a abstraction of the time grid you get in the model; set a grid of times with `start/end/delta` and some additional times `add`.

So these should be equivalent:

[code]

and

[code]

Just lets you set up different designs, captured as objects to use at the right time.

[2018-03-22 00:24] kylebmetrum commented on #346
That's all right.  I might have gotten too heavy-handed with the reserved words there; not sure that __needs__ to be the case.

What we were discussing in the other thread: it's be reasonable to expose the infusion rate __at the record level__ in `$MAIN` (so a dosing record with a rate entry ... let you check that value) as well as tinkering with the total current infusion rate in `$ODE`.  Going t

[2018-03-22 00:25] kylebmetrum commented on #347
@billdenney I'm not sure what you were getting from the two scenarios.  Assuming it wasn't what I was getting.

[2018-03-23 16:05] billdenney commented on #341
FYI, your suggestion with `EVID == 9` worked just like I needed it.

[2018-03-23 16:05] #341 closed

[2018-03-23 16:59] billdenney commented on #347
This was fixed with a related fix to #341 (a model-specific fix-- not related to the integrator).  It works now.

[2018-03-23 16:59] #347 closed

[2018-03-23 17:01] billdenney commented on #346
I think that keeping rate un-writable makes sense, but it can help to read it (at the record level).

[2018-03-28 02:50] dpastoor opened #351 "EVID == 4 ignores ALAG_CMT setting"
packageVersion: 0.8.10

noticed when setting EVID = 4, all of a sudden the dosing ignores the lag time and gives it immediately, (when changed back to EVID = 1, the lag time is appropriately present).

Is this expected behavior of EVID 4, or a likely bug. If not expected, I can add a reproducible example.

[2018-03-28 12:33] kylebmetrum commented on #351
I believe this has been fixed last December:

[code]

![](https://i.imgur.com/mVTG7WX.png)

[2018-03-28 15:33] billdenney commented on #339
Thanks for updating this in the most recent doc update.

[2018-03-28 15:33] #339 closed

[2018-03-30 18:01] kylebmetrum opened #352 "Segfault when using data and idata when some some IDs missing from data"
Expected behavior is error generation when all of the IDs in the `data_set` are not found in the `idata_set` (assuming both are passed in).  Should be ok if extra IDs are in `idata_set` (but not in data set).

I was using a data set where some of the IDs were filtered out along with a data set that had extra IDs and there was a crash.  Didn't crash when I didn't filter the IDs from the data set.

[2018-04-11 02:22] ICCMPBPK opened #353 "Compiling error using mrgsolve"
I just installed mrgsolve (ver. 0.8.10) on R (ver. 3.4.4, through RStudio under Windows 7) installed directly under C drive following the installation guide. However, when I tried the "quick hit feature demos" (http://mrgsolve.github.io/2017/02/23/quick/). I kept getting the error for building the model shown below. I installed the "devtools". Do I need to install any other compiler? Thanks.

Comp

[2018-04-11 04:16] kylebmetrum commented on #353
We've seen something like this before: https://github.com/metrumresearchgroup/mrgsolve/issues/170

I wonder if R is finding other tools in the search path:
`C:\acslX\mingw32\bin\make.exe: *** [popex-mread-source.dll] Error 255`

Can you share `Sys.getenv("PATH")`?

[2018-04-11 16:06] ICCMPBPK commented on #353
Hi Kyle,
Thank you very much. I just hided my name from the users file. Otherwise these are all I have. Thanks again.

[1] "C:\\R\\bin\\x64;C:\\Program Files\\copasi.org\\COPASI 4.22.170\\bin;C:\\ProgramData\\Oracle\\Java\\javapath;C:\\Program Files (x86)\\Pharsight\\Phoenix\\application\\lib\\NLME\\Executables\\;C:\\oracle\\product\\11.2.0\\client_3;C:\\oracle\\product\\11.2.0\\client_3\\bin;C:\\

[2018-04-11 16:31] kylebmetrum commented on #353
Ok.  I don't see any part of the Rtools toolchain in your path.  I'm assuming that you did install `Rtools34.exe`.  Maybe you didn't opt in when the installer offered to update your `PATH` environment variable?  Not sure.

I would re-install `Rtools34.exe`.  Pay very careful attention to every new screen in the installer.  Be sure to check the box that allows the installer to update your `PATH` en

[2018-04-11 18:00] ICCMPBPK commented on #353
Hi Kyle,
It is exactly caused by the Rtools installation. Thank you for your help.  It can compile now.

Compiling popex ... done.

However, when I tried to run the "quick hit feature demos", it showed a new error.

Error in tran_mrgsim(<S4 object of class "mrgmod">, data = c(0, 0, 0,  :
  Index out of bounds: [index='do_init_calc'].

Did I still not install it right? Thanks

[2018-04-11 19:39] kylebmetrum commented on #353
Wondering if you had a version after `0.8.10` previously installed?  That `do_init_calc` feature was included after `0.8.10` I believe.   That's the only way to explain this.

I'm not sure how this happens, but I've seen it before on Windows machines.  I wonder if Rstudio is playing a role here.  I'm sure the `sessionInfo()` will show `0.8.10`, but I wonder if Rstudio is trying to restore the `pac

[2018-04-11 20:46] billdenney opened #354 "Documentation and Feature Request: Parameter Extraction"
On the help page for `param`, an `allparam` function is mentioned, but it is not clear when it would be used.

I found this because I was trying to find a simple way to extract all the parameters (fixed effects defined in the `$PARAM` section, random effects in the `$OMEGA` section, and residual error in the `$SIGMA` section).  And then my next goal was to be able to load all of these back in late

[2018-04-11 20:57] billdenney opened #355 "smat with No Matrix to Update and an Empty Matrix Should be OK"
I have a simple model with no residual error.  When I tried to work on #354, I hit an error that

[code]

I think that the intent of these lines
https://github.com/metrumresearchgroup/mrgsolve/blob/a31b4bd7c95c72dbaf2babb72e74360135c49e53/R/update.R#L157-L159
could be something like:
[code]

[2018-04-11 21:02] billdenney commented on #354
This version works without #355, but my preference would be to implement #355 and use something like the above.

[code]

[2018-04-11 21:54] kylebmetrum commented on #355
@billdenney I think we should drop the the whole check on `length(x)` there.  If there is no matrix list in that slot, then it should be ok to pass in something that matches (a length zero list or a matrix with no rows and no columns ... each will get turned into a length 0 `matlist`).   To be safe, I think we'll still do the check, but return `x` early when  both`length(x)` and `length(y)` are ze

[2018-04-11 21:56] ICCMPBPK commented on #353
R version 3.4.4 (2018-03-15)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevic

[2018-04-11 22:12] kylebmetrum commented on #353
I'd like to know if you had a different version installed at one point.  Was it from github?

[2018-04-11 22:14] ICCMPBPK commented on #353
Yes, I did. The first time I just used install.packages("mrgsolve"). I remembered it started the installation that time.

[2018-04-11 22:26] kylebmetrum commented on #353
Ok.  The problem is that previous installation is hanging around somewhere and the dll is getting loaded when you start Rstudio.  I don't know why or how this happens on Windows.  But we know that it is true because the hang-up is on some code that doesn't even exist in the version you are running; but it would exist in the shared object from the newer github release.

Some suggestions:

Can you g

[2018-04-11 22:33] kylebmetrum commented on #353
I'd also make sure that you have no mrgsolve loaded (the package via `sessionInfo()` or the dll via `getLoadedDLLs()`) when you install from cran again.  It might be that if the mrgsolve dll is loaded in your session, Windows will not allow the installer to delete the old dll and bring in the new one.  Although,  I would anticipate that you'd see some error message if that happened.  But not willi

[2018-04-12 02:24] ICCMPBPK commented on #353
Thank you very much, Kyle. I just removed the "mrgsolve" folder in R/library. The path on my computer is "C:/R/library/mrgsolve". It works normally now.

[2018-04-12 02:56] kylebmetrum commented on #353
Great.  Thanks for reporting back.  Seems like that is where the issue was.  I'm grateful that we tracked it down and can help people facing the same issue in the future.

Please don't hesitate to reach out with any questions about the models or the code.  We're happy to keep the conversation going.

[2018-04-12 02:56] #353 closed

[2018-04-12 21:37] kylebmetrum commented on #352
Fixed bc17344ad2f3aae711e88a80be901e1d7aa6cd73

[2018-04-12 21:37] #352 closed

[2018-04-12 21:37] kylebmetrum commented on #351
Hopefully we'll get the CRAN version updated soon.

[2018-04-12 21:37] #351 closed

[2018-04-12 21:41] kylebmetrum commented on #344
Fixed.  Thank you!

[2018-04-12 21:41] #344 closed

[2018-04-12 21:43] kylebmetrum commented on #355
Behavior changed: bc17344ad2f3aae711e88a80be901e1d7aa6cd73

There will be no error or message if an empty slot is updated with an empty matlist object

[2018-04-12 21:43] #355 closed

[2018-04-12 21:43] kylebmetrum commented on #337
@indysandaradura Please re-open if you are still having an issue with this.

[2018-04-12 21:43] #337 closed

[2018-04-12 23:47] billdenney commented on #355
Thanks!

[2018-04-12 23:47] billdenney commented on #344
Thanks!

[2018-04-13 18:30] kylebmetrum commented on #354
@billdenney

There is a `data` argument to the `update` method where you can pass in a list of stuff to update.  That has been there forever; the documentation currently says it is unused ... but it is.  I'll change that.

Also, I just made some tweaks to the `as.list()` method to make sure the update-able stuff in that list can be passed to the update method.

So you could do the code below, allo

[2018-04-13 18:38] billdenney commented on #354
@kylebmetrum That covers the need!  Thanks!

(I'll let you close this with the doc update.)

[2018-04-13 20:36] kylebmetrum opened #357 "sigma list constructor with no arguments"
Comes out as an omega list
[code]

[2018-04-19 00:35] billdenney commented on #354
I think that what you committed documented it.

[2018-04-19 00:35] #354 closed

[2018-04-19 00:38] billdenney opened #359 "Cannot Use ETA in $ODE"
When using an ETA value directly in the $ODE block,  I got the following error (modified to blind the original code):

[code]

With ignorance, I'm guessing that there is a rational reason that you shouldn't be able to directly access ETA values (or apparently self.*) while in $ODE.  But, if reasonable, it would help to give a more direct error message than the one above.  Perhaps something could b

[2018-04-19 19:45] billdenney opened #360 "Question: What is the best way to capture a value in the $ODE section?"
In some of my code, it would be helpful to capture the body weight that needs to be dynamic during the study.  Specifically, I'm doing something like:

[code]

I can redo the calculation of `WT_current` outside of the `$ODE` block, but I'd prefer to do something like:

[code]

What is the best practice to extract a value calculated only in the $ODE block?  Is there a way that I can directly assign

[2018-04-19 20:10] kylebmetrum commented on #360
@billdenney You can still just capture that.  As you probably found out, I went out of my way to make it so that you can't use `capture` in `$ODE`.  Initially, there was concern that the solver doesn't stop right at the "integrate-to" time and that the calculation wouldn't be consistent with the value you'd get if you re-calculated in `$TABLE`.  I ended up making another call to `$ODE` after the s

[2018-04-19 20:11] #357 closed

[2018-04-19 20:19] kylebmetrum commented on #359
@billdenney That error message is coming from the compiler.  We don't check the code for things like using ETA in `$ODE` and so far the strategy has been to just let the users deal with these messages.  We could start trying to inspect the code and help out here, but I haven't gone down that road yet b/c I'm not sure I can (or want to) get it to the place where we will make sure we intercept any a

[2018-04-20 04:20] kylebmetrum opened #361 "Create user guide section for event objects"

[2018-04-20 04:20] kylebmetrum opened #362 "Clearly state what variables / macros are available in which functions"

[2018-04-20 04:21] kylebaron opened #363 "Remove ETA and EPS from the self object"

[2018-04-20 10:33] billdenney commented on #342
Thanks!

[2018-04-24 14:01] amitvtaneja opened #364 "Error message while testing C++,Fortran compiler"
Hi Kyle

I have R/Rstudio installed on my  company server. While testing for the C++,Fortran compilers I get the following error message. I am able to run RxODE successfully however.
1. Can mrgsolve be installed alongside RxODE?
2. Please suggest what can be done to resolve the error message. SessionInfo provided below.

Thanks

Amit Taneja

 ccode <- 'extern "C" {void test() {double x=2.1; x = x+

[2018-04-24 14:59] kylebmetrum commented on #364
Hi @amitvtaneja -

On my macbook `R CMD shlib` works ... but it has to be `R CMD SHLIB` on unix.

Can you try out the code below and I will update the wiki page.

Thanks,
Kyle

[code]

[2018-04-24 15:06] kylebmetrum commented on #364
The commit probably won't show up here but this code should be good across platforms:
https://raw.githubusercontent.com/wiki/metrumresearchgroup/mrgsolve/compiler_tests.R

@amitvtaneja Apologies for the mistake here.  Both packages should work side by side.

[2018-04-24 23:31] mattfidler commented on #364
I have run both side by side so they should work together

On Tue, Apr 24, 2018, 10:06 AM Kyle Baron <notifications@github.com> wrote:

[2018-04-27 22:25] #298 closed

[2018-04-27 22:25] #312 closed

[2018-04-27 22:26] #317 closed

[2018-04-27 22:26] #329 closed

[2018-04-27 22:27] #95 closed

[2018-04-27 23:32] billdenney commented on #360
Sorry for the delay.  That works for me.  Thanks!

[2018-04-27 23:32] #360 closed

[2018-04-27 23:35] billdenney commented on #312
Thanks!

[2018-05-04 05:03] kylebmetrum opened #368 "Additional dosing records don't get created when F_CMT is zero"

[2018-05-04 17:10] kylebmetrum opened #369 "DLSODA Overshoot"
To illustrate what is being discussed on NMUSERS (05/04/2018):

- __The setup__: simulate a 10 hour infusion; stop the simulation right at the end of the infusion
- The simulation runs to 10 hours (the end of the infusion), but the solver will "overshoot" that
time (`10.137309` in this case) and therefore `Cmax` will be higher than the concentration at the
end of the infusion
- The overshoot isn't

[2018-05-10 13:22] Veltine opened #370 "Model building problem in mrgsolve"
Is there any problem when I installed mrgsolve? I encounter the issue below. Please help me solve this. Thank you,

Compiling popex ... Warning message:
In system(cmd) : 'make' not found
-------------
Error: there was a problem building the model.

[2018-05-10 13:33] kylebmetrum commented on #370
Hi @Veltine -

It looks like you don't have a toolchain installed or something along those lines.

Can you tell us what R version and operating system you are using?

Did you work through the instructions here?
https://github.com/metrumresearchgroup/mrgsolve/wiki/compilers-and-mrgsolve

Kyle

[2018-05-10 13:35] kylebaron opened #371 "Revise installation document on Wiki"
1. Remove reference to `installr`
1. Recommend upgrading R and all packages before starting
1. Refer to new macos toolchain: https://cran.r-project.org/bin/macosx/tools/

[2018-05-11 12:52] Veltine commented on #370
Hi Kyle:
Thank you for your information. Now, mrgsolve works on my computer. Here is the solution.

The R-3.5.0 was installed on Win10 system. The installation issue was solved via the following steps.
1. Reinstall R-3.5.0 and Rtool34 into a directory whose filename (path) has no "space."
2. During Rtool34 installation, edit the system PATH via ticking off "Current Value"
![1](https://user-images.

[2018-05-14 19:01] ICCMPBPK opened #372 "Simulation speed for PBPK model with Monte Carlo simulation"
Hi Kyle and all,

We are using R to do PBPK modeling for food animals with MC simulation. By changing from original code using deSolve to mrgsolve, the 1000-iteration simulation time decreased from over 12 hours to around 20 minutes. However, if I only run 100 simulations using code in mrgsolve, it took only 2.31 second. The 1000 simulations took extra-long time than I expected.

We called the PBP

[2018-05-14 19:31] kylebmetrum commented on #372
Hi @ICCMPBPK  -

I'll take a look;  if I understand the results from your test, it's a pretty big difference between 1000 and 100.

I did a (very) quick and crude benchmark with a pbpk model a it seems to be scaling as expected:

[code]

The code I'm using is below.  Obviously, I can't exactly replicate your problem and my super-quick benchmark may be materially different in ways that I cannot see

[2018-05-14 20:57] ICCMPBPK commented on #372
Thank you, Kyle.  I don't think our code is anything related to confidential. Everything related to this research has already been published. But I still need to ask for permission from my adviser to make sure everything is OK.

I tried your code, and put all 30 parameters for MC simulation.  Your benchmark function is super fast. Compared to your result, mine look still wired. 100-time simulation

[2018-05-14 21:02] kylebmetrum commented on #372
@ICCMPBPK Can you run 10, 100, 1000, and 10000 in your setup? And maybe increase replications to 25 or so?

[2018-05-14 21:06] kylebmetrum commented on #372
I'm not super-surprised to see things not scaling properly at the lower values of `N`.  There is some over-head that can really change things when the problem is really fast / short etc .... Some of this might make more sense with 25 or 50 or 100 replications too.

[2018-05-14 21:28] ICCMPBPK commented on #372
You are right. The results look normal from 100 to 10000.

[code]

[2018-05-14 22:06] kylebmetrum commented on #372
Still can't totally explain this part:

[code]

Would you be willing to try out this code for me? Just to take model out of the calculation ...

[code]

It might take a couple of minutes to run;  if it's too much, drop the 10k run.  I'm mostly interested in the 10/100/1000.  Here's what I got:

[code]

[2018-05-14 22:51] ICCMPBPK commented on #372
The following is what I got.

[code]
If you don't mind, would you take a look at our code? I know it is not that polite to ask people look at your code. I will invite you as collaborators for my repo. If you don't have time, please ignore it.

[2018-05-14 22:55] kylebmetrum commented on #372
Sure;  I can't spend too much time on it during the day.  But happy to take a look and run it a bit at night.

[2018-05-15 02:15] mattfidler commented on #372
Just a possibility.  Perhaps you are running out of physical memory and
swapping to the hard drive.  That is what is changing the solve speeds...?

On Mon, May 14, 2018, 5:55 PM Kyle Baron <notifications@github.com> wrote:

[2018-05-15 14:44] ICCMPBPK commented on #372
Hi Kyle and mattfidler,

The taken of RAM by the code is one of my concerns. I saw the Rstudio took up to around 2GB RAM. The desktop has 26 RAM, so I'm not sure whether this could lead to the delay. If this is the issue, how should I improve the code?

Thanks,

[2018-05-15 15:02] dpastoor commented on #372
given 26 gigs of ram (are you sure, that is an odd number to have?) its highly unlikely you're swapping.

Regardless to check to see the size of the resulting object for a single simulation:

9.21 kB

by scaling this up to `n` you can get a guesstimate of at least how much memory you will need.

I doubt this is the case though, unless you have a very tiny step size such that your resulting datafra

[2018-05-15 16:03] kylebmetrum commented on #372
@ICCMPBPK I don't think your data assembly process is as you expect:

[code]

Try your code with `replicate = FALSE` if using event objects like this.

But this isn't the recommended approach as I indicated in the pull request.

[2018-05-15 16:06] ICCMPBPK commented on #372
Dear Kyle, dpastoor, mattfidler and all,

26 gigs RAM did look wired to me at the first time (I thought it should at least be fold of 4). But it does have 26 GB RAM.

I made a mistake in the input dose code. Right now the code works with the speed I expected.

Thank you all for your help. I really appreciate that.

[2018-05-15 17:01] #372 closed

[2018-05-22 12:47] jgonlop3 opened #373 "Topical administration"
I would like to know if someone can help me to make a topical administration model. Has someone a model file done? I can use it as an example. Thanks

[2018-05-29 20:03] kylebmetrum opened #374 "Better exit from mread with non-sense file name"
Shouldn't get this far; this behavior probably related to recently added flexibility in model name specification.

[code]

[2018-06-06 09:51] indysandaradura opened #375 "Time above threshold calculation"
Hi,

I've been trying to capture time above a threshold during an mrgsolve simulation, using a similar method to that which is frequently performed in NONMEM.
ie. http://cognigencorp.com/nonmem/current/2007-December/4125.html

The relevant model code appears below. However, when this is run, COMP4 just accumulates 1s irrespective of whether the conditions are met or not.

Is anyone able to provide

[2018-06-06 10:58] kylebmetrum commented on #375
Hi @indysandaradura

I didn't see any PK getting simulated in your example, so not able to diagnose what might be going on.

I made the following example that appears to work for a single dose.  But I'm sure with some post-processing you can make it work for any dose.

[code]

![](https://i.imgur.com/y1jONff.png)

[code]

Created on 2018-06-06 by the [reprex package](http://reprex.tidyverse.org) (

[2018-06-06 18:55] drexell0680 opened #376 "Expanding addl with dplyr grouped dataframes"
Using `realize_addl` on a `data.frame` with a `group` attribute causes [this](https://github.com/metrumresearchgroup/mrgsolve/blob/master/R/realize_addl.R#L77) mutate to break.  Ungrouping `x` should fix it.

[2018-06-07 10:28] indysandaradura commented on #375
Thanks @kylebmetrum. This works.
The only change was to move MIC1 and RT1 out of $GLOBAL into $PARAM and $ODE respectively. Can you please explain why they couldn't be defined in $GLOBAL?

[2018-06-07 12:05] mrgsolve-sp18 commented on #375
Hi @indysandaradura -

It might have worked putting these items in `$GLOBAL`.  Maybe just reset `RT1` to 0 prior to checking to see if concentration is above MIC (see below)?

Kyle

[code]

[2018-06-07 16:12] kylebmetrum opened #377 "Better documentation for what to include in call to ev()"

[2018-06-11 18:00] kylebmetrum opened #378 "Changes for dplyr 0.7.5"
Focus on the select bit.

https://www.tidyverse.org/articles/2018/06/dplyr-0.7.5/

[2018-06-21 23:51] nguyenjq opened #379 "[Question] Consequence of using PKMODEL vs ODE blocks"
Hi all,

I am seeking a clarification on using PKMODEL vs ODE in mrgsolve.

Is using PKMODEL in mrgsolve code the same as using the pre-defined ADVAN TRANS routines in NONMEM? For example, in a two compartment model with first order absorption, if I used PKMODEL with depot = TRUE, will this simulation procedure be the same as calling ADVAN4 TRANS4 in NONMEM? Or is this completely different?

I hav

[2018-06-22 03:58] #375 closed

[2018-06-22 04:00] kylebmetrum commented on #376
Thanks @drexell0680; will get that fixed.

[2018-06-22 22:14] nguyenjq commented on #379
Hi Kyle,

Thanks for providing the document for me to look at and the sample R snippet to illustrate.

I was wondering if you could provide some further insight on the differences in simulation of the variability components between NONMEM and mrgsolve.  I ask because in the VPC that I generated, the median and 5th percentile is fine. But there is a bit of an overshoot in the 95th percentile that i

[2018-06-22 22:32] kylebmetrum commented on #379
Hi Jenny -

Here is what `mrgsolve` is doing with respect to the random effects in the model.

Is there any part of the model code that you could share that would help us diagnose this?

Kyle

[code]

Created on 2018-06-22 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-23 15:36] kylebmetrum commented on #379
@nguyenjq
I added this vignette to the nonmem test repo to address your question.  I'll link to the bottom line, but please see the code and models to understand what is going on.

https://github.com/mrgsolve/nmtests/blob/master/nmtest5.md#plot

Let me know if you have questions about this.

Kyle

[2018-06-23 16:28] kylebmetrum commented on #379
Just pushed a new version here:
https://github.com/mrgsolve/nmtests/blob/master/nmtest5.md#plot

There was an (unintended) WT effect on KA in the mrgsolve model but not the nonmem model in the earlier version:
https://github.com/mrgsolve/nmtests/blob/86f75f83904d348bf3669a2e4f3c1442ca35d606/nmtest5.R#L94

[2018-06-25 15:01] vaddadyp opened #380 "Assigning different residual errors based on TAD"
Hi ,

Can someone help me with correcting the following code to assign different residual errors based on TAD (time after dose)?

$TABLE
if (tad <= 1) PK_ADD = RES1;
if (tad > 1) PK_ADD = RES2;
double CENTRAL = CENT/V2i  + PK_ADD;

Thanks,
Pavan.

[2018-06-25 15:20] kylebmetrum commented on #380
Hi Pavan -

You can use the code below for simple / straightforward dosing.  I'm sure there are other gotchas that can mess this up depending on how the input is structured.

If you're using the `tad` argument for mrgsim, that's output only; you don't get access to that inside the model.  I know we can make `tad` available in the model but looking for a way to do that on the "model side" ... code

[2018-06-25 15:50] #369 closed

[2018-06-25 15:52] kylebmetrum commented on #370
Thanks @Veltine I will be revising the install instructions on the Wiki.  I'll make sure to include a graphic of the check box for the path.  That is definitely getting missed by a lot of people during the install.

[2018-06-25 15:52] #370 closed

[2018-06-25 22:29] #318 closed

[2018-06-25 22:30] kylebmetrum commented on #373
@jgonlop3 Let us know if you did find a model structure for this.  We'd be happy to help out with the implementation.

[2018-06-25 22:30] #373 closed

[2018-06-26 05:28] jgonlop3 commented on #373
No, I didnt found a model yet. I need help with this issue, please.

[2018-07-04 17:06] amitvtaneja opened #381 "error message: computation of PTS as per Metrum ISOP PHMX tutorial"
Hi all

 I am trying to compute the PTS as per the ISOP Phmx tutorial hand-out from Metrum. When I use the following code(page 11, section 8 ) I get an error message

tvdat<-sumry%>%group_by(arm,N,tvf,tv)%>% do(.density(.$frac))

Error in .density(.$frac) : could not find function ".density"

Secondly in the subsequent ggplot code the layer geom_ribbon_density appears to be a non standard function

[2018-07-04 19:56] kylebmetrum commented on #380
Closing; no response.

[2018-07-04 19:56] #380 closed

[2018-07-04 19:59] kylebmetrum commented on #381
Hi @amitvtaneja  -

You can get the functions here:
https://github.com/mrgsolve/examples/blob/master/PrTS/src/functions.R#L6-L9

and here:

https://github.com/mrgsolve/examples/blob/master/PrTS/src/functions.R#L46-L49

Might as well pull the whole file:
https://github.com/mrgsolve/examples/blob/master/PrTS/src/functions.R

clone the repository.

Kyle

[2018-07-11 16:02] tonggne opened #382 "model without $des"
Hello Mrgsolve developers,
Can Mrgsove handle model without $des (only $PRED)? such as the model in the following. or mrgsolve requires an ODE component to run?

Thanks a lot!
Tong

$PRED
KL = exp(THETA(1)+ETA(1))
KD = exp(THETA(2)+ETA(2))
DM= exp(THETA(3)+ETA(3))
BSL  = exp(THETA(4)+ETA(4))
IPRED = BSL * EXP( KL*TIME )
IF(TIME.GT.0) IPRED = BSL * EXP( KL*(TIME) - (KD/DM)*(1-EXP(-DM*(TIME))) )
Y =

[2018-07-11 22:05] kylebmetrum commented on #382
@tonggne

I did this pretty quick, but hopefully you get the idea.  I'm 99% sure you could do all of the mrgsolve code in either `$MAIN` or `$TABLE` (it wouldn't matter) ... there is just no separate `$PRED` block like nonmem.

Kyle

## Original code
[code]

### Translated code
[code]

[2018-07-11 22:16] kylebmetrum commented on #381
Closing this for lack of response.

[2018-07-11 22:16] #381 closed

[2018-07-11 22:17] kylebmetrum commented on #379
Best wishes with your project.  Please let me know if we can be of further help.

[2018-07-11 22:17] #379 closed

[2018-07-12 03:58] tonggne commented on #382
Thanks Kyle for sharing the Mrgsolve code. Two follow-up questions:

1) The Mrgsolve model you suggested will compile but it will not simulate from the data set, because there is no mention of CMT in the dataset. As we know every input dataset has to have an ID, time, and cmt column.

Below, the name of the data set is "full":

+   mod %>%
+   zero_re %>%
+   data_set(full) %>%
+   carry_out(C, ID

[2018-07-12 12:18] kylebmetrum commented on #382
Hi @tonggne  -

Right.  You do need `CMT` in there.  I've been looking at trying to undo that requirement and I think I can.  Just need some time to make sure all the bases are covered.  But, yes, you should just add a dummy `CMT` column for now.

You can't have negative time in `mrgsolve`.  I didn't know that it was possible in NONMEM.  The easiest workaround is to set a dummy `TIME` column and t

[2018-07-16 09:30] amitvtaneja commented on #381
Sorry for not responding earlier Kyle, and many thanks for providing the custom functions. The required functions work as desired.

best regards

Amit Taneja

[2018-07-16 14:50] kylebmetrum commented on #381
Thanks for the report, Amit.  That code is pretty old now so I'm glad it's still holding together (to some degree or another).  Please be in touch if we can help with anything else.

Kyle

[2018-07-19 21:13] nguyenjq opened #383 "[Question] Problem finding time of first dose?"
Hello again,

I have a simple two compartment model with first order absorption that I am trying to simulate from. I received a very strange error message and was hoping to get some clarification.

[code]

Below is a sample of what the data looks like

[code]

Thank you!
Jenny

[2018-07-20 14:06] kylebmetrum commented on #383
Can you try `tad = FALSE` and let me know what happens?

[2018-07-20 14:16] kylebmetrum commented on #383
Also ... what version are you using?

Here's what I'm getting with your example:

[code]

![](https://i.imgur.com/qOMa1N6.png)

Created on 2018-07-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-07-23 03:43] nguyenjq commented on #383
Hi Kyle,

(1) Removing TAD allowed the simulation to proceed.
(2) I have mrgsolve 0.8.12 using R 3.5.0

Since it seems to be working on your end, is it due to having an older version? What was happening that caused that error to arise?

[2018-07-23 11:56] kylebmetrum commented on #383
Hi @nguyenjq -

We're using the same version of mrgsolve and R.  I'm trying to get us running the same bit of code and get the same results.  At that point we might be able to figure out what is going on.

Did you try the code that I posted to see if you still see the issue?

`Dropping non-numeric columns: C CONC DV WT `

I noticed `WT` here but it wasn't in the sample data set that you shared.  W

[2018-08-02 02:29] abuhelwa opened #384 "Re-sampling from ETA distribution in mrgsolve"
I have a disease progression including two parameters `BASE` and `ME` with BSV. I want to re-sample the `ME` values as `BASE`  should be always be bigger than `ME`. I can do this in NONMEM using the below and was wondering about the equivalent of that in mrgsolve?

` IF (ICALL.EQ.4)THEN
  BASE=TVBASE*EXP(ETA(1))
  ME=TVME *EXP(ETA(3))
  DOWHILE(ME.GT.BASE) ;RESAMPLE
   CALL SIMETA(ETA)
   ME=TVME

[2018-08-02 04:26] kylebmetrum commented on #384
Hi @abuhelwa -

The equivalent loop would be something like:

[code]
But please see the vignette here:

https://mrgsolve.github.io/2017/01/01/resimulate-random-effect-variates-on-demand/#simeta-example

This code was tested :).  Depending on the other parts of the model it might be safe to include some logic around `NEWIND` in there:

[code]

Please let me know if this doesn't get at what you want

[2018-08-02 06:39] abuhelwa commented on #384
Hi @kylebmetrum
Yep, thank you! It does do the trick :-)

Ahmad.

[2018-08-02 13:44] kylebmetrum commented on #382
Currently working on a more-formal `$PRED` implementation.

[2018-08-02 13:45] kylebmetrum commented on #359
This will likely stay as is.

[2018-08-02 13:45] #359 closed

[2018-08-02 14:41] #330 closed

[2018-08-02 16:05] tonggne commented on #382
Thanks a lot Kyle! Could you please also indicate what specific
improvements you have made? That will be very helpful

Best,
Tong

Sent from my iPhone

On Aug 2, 2018, at 6:45 AM, Kyle Baron <notifications@github.com> wrote:

Currently working on a more-formal $PRED implementation.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github

[2018-08-02 17:53] tonggne commented on #382
thanks Kyle for all your efforts!

On Thu, Aug 2, 2018 at 9:24 AM, Kyle Baron <notifications@github.com> wrote:

[2018-08-03 16:11] nguyenjq commented on #383
Hi Kyle,

My apologies for the delay in response. I tried your code snippet and it worked fine, both with the pk2 model and the original model I was working with. `WT` is not relevant in the model I have so it is fine to drop. I ended up dropping the `tad` option from `mrgsim()` because I later realised it was not necessary for what I was doing.

As it currently stands, if I run the full dataset w

[2018-08-03 17:00] kylebmetrum commented on #383
Thanks for reporting back.  I'll close then as it seems like we're getting different behavior (works for me but not for you).  I'd like to be able to track down the discrepancy, but will not be able to do it since we cannot reproduce.  Please feel free to open again if you ever want to pursue this further.

Best Regards,
Kyle

[2018-08-06 23:09] nguyenjq commented on #383
Hi Kyle,

I tried to run the code snippet you had earlier to save the session info, but it comes out as a jumble of symbols which I don't think you're looking for.

I'm able to provide you with the file and model I have been using that has been giving me this error if you can direct me to a place where I can send it for you to inspect.

Best,
Jenny

[2018-08-07 00:07] kylebmetrum commented on #383
Hi Jenny -

If you can send something to the email address here:
https://github.com/kylebmetrum

I'd be happy to give it a try.  Maybe you've moved on, but if there is an issue here, I'd really like to figure it out so we can determine where the bug is and get it fixed if it is in mrgsolve.

Thanks,
Kyle

[2018-08-07 20:19] kylebmetrum commented on #383
This ended up being an individual with an observation, but no dosing records.  I talked with Jenny about this.  Not clear if there should be an error in this case or no.  Definitely could imagine a mixed data set where there were some folks with PK/PD and some with just PD.  But generating an error in this case was helpful in that it signaled a problem. The signal would be better if there was an I

[2018-08-07 20:19] #383 closed

[2018-08-07 20:19] kylebmetrum opened #388 "Refactor TAD stuff to work inside the model code"
See #383

[2018-08-08 02:14] melagha opened #389 "installing modmrg Package"
I am having problems installing modmrg.
I tried the following command but no success:

library(devtools)
devtools::install_github("metrumresearchgroup/modmrg", subdir="rdev")

This did not work both on MAC and windows. I keep receiving the following massage:

Downloading GitHub repo metrumresearchgroup/modmrg@master
from URL https://api.github.com/repos/metrumresearchgroup/modmrg/zipball/master
In

[2018-08-08 02:32] melagha commented on #389
I also tried by downloading the package  from (https://github.com/dpastoor/modmrg) and install it using R-studio by browsing to its location but no success.

your help deeply appreciated

[2018-08-08 11:13] melagha commented on #389
Thank you Kyle for the prompt response. I will get started as you suggested.
The video link is not working on my side.

Best regards
Mela

[2018-08-08 11:54] kylebmetrum commented on #389
Maybe the youtube site (hosting the video) is getting blocked?  The vignette should show the same content.  Feel free to keep asking here if anything is confusing.  I'd be happy to help out.

[2018-08-08 13:06] melagha commented on #389
Thank you Kyle, I really appreciate you help.

[2018-08-16 15:25] pharmdwoman opened #390 "error in installing mrgsim package"
Hi,

I'm trying to install mrgsim package via devtools, ie,
devtools::install_github("mrgsolve/mrgsim", type="source")

but I got the error message below. Can you please help?

* installing *source* package 'mrgsim' ...
** R
** inst
** tests
** byte-compile and prepare package for lazy loading
Error : object 'ev_seq' is not exported by 'namespace:mrgsolvetk'
ERROR: lazy loading failed for package

[2018-08-22 03:26] #389 closed

[2018-08-22 03:30] kylebmetrum commented on #390
Thanks @pharmdwoman .  I pushed a change that should fix this.  It is currently passing R CMD check and the handful of unit tests that I created.  Definitely the project is work in progress ... but a lot of work for over a year now :).  Any feedback would be appreciated.  If you could post here:
https://github.com/mrgsolve/mrgsim/issues

Thanks

[2018-08-24 20:04] vjd opened #391 "knobs on a `data_set`"
I am trying to get `knobs` working on a `data_set`. I understand clearly how it works on an `ev` object easily as there is no `id` associated with the resulting event row. I am trying to see if `knobs` works on a dataset of different individuals (no random effects) with different doses. Ideally, I would want the set of parameters in knobs to be tested for each ID (or dose in this case).

[code]

I

[2018-08-24 23:55] dpastoor commented on #391
you can construct the dataset in knobs as well

[code]

[2018-08-25 03:38] kylebmetrum commented on #391
Yeah ... knobs really takes responsibility for assembling the data set for you; that's something you have to cede to the function.  But you can pass in stuff to update the model object like you would with `mrgsim`;  like this:

[code]

![](https://i.imgur.com/o9XJRJT.png)

Created on 2018-08-24 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

I haven't used knobs in ages; I re-facto

[2018-08-26 21:41] vjd commented on #391
Thanks guys! This helps. I did end up "setting" up a dataframe with multiple parameter combinations of interest. Found that easier, but for one-off dosing, `knobs` is cool!

[2018-08-26 21:41] #391 closed

[2018-08-29 04:13] kylebmetrum commented on #382
@tonggne

[code]

![](https://i.imgur.com/zygMQfR.png)

Created on 2018-08-28 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-09-01 23:41] #376 closed

[2018-09-04 13:44] billdenney opened #393 "Documentation Request: Specify mread ... destination"
Currently, the documentation for `mread()` indicates that the `...` argument is "passed along":

https://github.com/metrumresearchgroup/mrgsolve/blob/73018a1c75809f4362bc6d3a948389897db6511e/R/mread.R#L48

1. If I read the code correctly, the user-facing way that it is passed along is to the `update()` function.  Could you please update the docs to indicate that (and anywhere else that it is passe

[2018-09-04 13:51] kylebmetrum commented on #393
Thanks;  agree that the connection to update needs to be there and probably some more discussion in @details.  I'll get on it.

[2018-09-05 17:36] billdenney opened #394 "as_bmat with correlation"
Could you please update as_bmat to work with correlation matrices?  I think it would just add making the ... argument pass through to `bmat` on this line:

https://github.com/metrumresearchgroup/mrgsolve/blob/f650c7946cbfa96ad3deabc544b7dbce6e970362/R/matrix.R#L208

[2018-09-06 02:17] kylebmetrum commented on #394
We also have these `cmat` functions.  So, how about adding:

[code]

Created on 2018-09-05 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[code]

[2018-09-06 02:37] billdenney commented on #394
That would cover my need.  Thanks!

Perhaps the documentation for `as_bmat()` could also be updated so that:

"..." being "passed along" in the `as_bmat()` documentation could be updated to indicate that it is "passed along to subsequent \code{as_bmat} methods"

I had anticipated that it is passed along to `bmat()` which has the correlation argument when that isn't the case.

[2018-09-06 02:40] kylebmetrum commented on #394
Will do.

[2018-09-06 02:41] kylebmetrum commented on #394
OIC ... yeah, the doc is plain old wrong there.

[2018-09-06 02:48] kylebmetrum commented on #394
I get it now.   Per the original request:

[code]

Created on 2018-09-05 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-09-06 02:54] billdenney commented on #394
That looks perfect!

[2018-09-06 03:58] #394 closed

[2018-09-09 03:13] #382 closed

[2018-09-09 03:17] kylebmetrum opened #396 "mevent behavior when event time is current time"
For example, what should happen here?

[code]

Right now, when the system finds that AUC > 400, it schedules an event that will happen after the current record.  So the system advances once more and the AUC compartment isn't reset until after iut sees AUC > 400 twice.

I wonder if there should be some way to flag events that should happen *now* (they could just get implemented right away rather th

[2018-09-09 03:19] kylebmetrum opened #397 "mevent call from $TABLE"
Nothing happens as expected;  all of the mevent stuff happens after the call to $MAIN.

We could:

1. Wait until after the system advances to run the mevent stuff
1. Run it after both `$MAIN` and `$TABLE`

[2018-09-14 22:16] billdenney opened #399 "Error: Mat::operator(): index out of bounds ?"
I recently updated to R 3.5.1 and the current version of `mrgsolve` along with all my other packages.

With the update, a simulation that previously ran now gives the error:

[code]

I found the issue appears to be the fact that there is an `NA` value for `NDOSE`, and I have the following line in my `$PARAM` and `$MAIN` blocks:

[code]

I can try to work up a reprex, but I think that the solution

[2018-09-14 22:36] kylebmetrum commented on #399
Are you saying that `NDOSE` has `NA` in the input data set?

[2018-09-14 22:59] billdenney commented on #399
Yes, `NDOSE` has an `NA` in the input data set.  That is definitely a problem, and it would help if an error message indicated that a column has an NA value (unless there are times when that is valid in which case it should probably be a warning).

[2018-09-15 11:07] kylebmetrum commented on #399
We talked about this before in #312 I did add (last night) a check for `NA` in parameter columns.  I'll be refactoring that a touch over the weekend.

But still wondering why its the Armadillo stuff that is complaining.

I tried to make a small example to get that error back but couldn't.  I'm not sure why this would appear with 3.5 but not with 3.4 (or whatever you were using before).

Seems like

[2018-09-16 00:10] billdenney commented on #399
I’ll retry to generate a reproducible example.  There is something still going on.

[2018-09-16 12:45] indysandaradura opened #402 "fix residual error in successive simulations?"
Hi all,
I apologise if this question is overly simple.
I'm currently working on a project which involves re-simulating the same set of individual patients (ie with the same ETA values) using mrgsolve. The model has both additive and proportional error. Each time run the simulation I get the same IPREDs but different DVs. Is there a way to specify/fix the residual error for successive simulations?

[2018-09-16 14:27] kylebmetrum commented on #402
Hi @indysandaradura  -

I assume you are setting the seed in R.  If you do that, you should get the same outputs for a given input.  That should hold for ETA and EPS.  There is an example and confirmation below.

Is there some different twist on this that you're trying to do?

Kyle

[code]

Created on 2018-09-16 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-09-16 14:32] billdenney commented on #399
Is there a good way that I could add some form of logging to my model so that I could detect exactly where the error is occurring?  (I will try using the base `print` method via the example at https://mrgsolve.github.io/user_guide/model-specification.html#block-plugin; if there is a better way, please let me know.)

[2018-09-16 14:35] kylebmetrum commented on #399
@billdenney https://github.com/metrumresearchgroup/mrgsolve/blob/5d85cd22f4cc02068d4fac292438216a1fafbd20/inst/base/modelheader.h#L163-L168

You can use `report()`

[2018-09-16 14:46] kylebmetrum commented on #399
Try logging the ID or  ID number and or the row number

https://mrgsolve.github.io/user_guide/model-specification.html#self.idn

I'm wondering if somehow there is confusion about how many individuals are in the data set or how many rows.

[2018-09-16 15:04] billdenney commented on #399
The error occurs 99.7% of the way through the dataset-- I think that you're onto something with there being a row count issue.  How can I find the length of every parameter vector (or any other relevant quantity)?

[2018-09-16 16:36] billdenney commented on #399
Alrighty, we are narrowing onto the right solution, I think.

The dataset is 34380 rows long, and the error occurs on an individual that start on row 34261 (19 from the last row), and there are 20 NA values in the `NDOSE` column.  All the NA values are on the last row for the subject. But the error doesn't occur at row 34361.  I thought I could try to convert this to a simple example issue, but I'

[2018-09-16 21:10] kylebmetrum commented on #399
There's only one parameter vector;  the values just get copied over for different subjects at different times.  And it's implemented as an array of doubles.  So fixed size.

I'd really like to know if the error happens __without__ the `NDOSE` column.  It seems like that shouldn't be doing it.  If it's a row number issue, I think the issue is likely elsewhere. But obviously I'm trying to reproduce

[2018-09-17 15:04] billdenney commented on #399
Shoot!  We are barking up the wrong tree:

[code]

After that test, I also updated the model to remove the NDOSE calculation:

[code]

And, I still had the same issue.

I then cycled through the columns that have NA values, and it looks like `TIME` has 110 `NA` values, and dropping those fixed the issue:

[code]

I'm currently working with `mrgsolve` from CRAN, not the current dev version.  The te

[2018-09-17 15:28] kylebmetrum commented on #399
Here's what I pushed:

If there are no NA values anywhere, Great!  keep going.

If there are NA values, first check for parameter columns.  If we find NA there, list each column name where we find NA.

Next, check ID, TIME, time.  If we find NA there, list the column names.

If we find NA in parameter columns or ID, TIME, time, we stop and it needs to get fixed.  This would allow you to still have

[2018-09-17 17:56] billdenney commented on #399
I agree that the solution you pushed is probably the right one.  FYI, it's more strict than the current implementation:

[code]

I'll give it a shot soon.

[2018-09-20 09:26] ChenyanLoveModel opened #403 "Too big dataset to be simulated?"
Hi, there always comes an error message as below when I set a big end point (eg. 96hours) or low delta (eg. 0.0001) or have thoudsands of ID in doing the simulation. Is it because MRGsolve can't handle such big computational request? How to solve it?

[code]

[2018-09-20 10:41] kylebmetrum commented on #403
Hi @ChenyanLoveModel -

Generally, mrgsolve can handle 1000s of IDs, small delta (although some values might be so low that you run out of memory .... a limitation of your hardware) or large end time (some models we simulate out for 20 years or more).

If you focus on this part of the error message

[code]

This is coming from the ODEPACK solver.  It means that the system tried to advance to the n

[2018-09-20 10:55] #397 closed

[2018-09-20 10:56] #390 closed

[2018-09-20 10:56] #378 closed

[2018-09-20 10:56] kylebmetrum commented on #377
This was done.

[2018-09-20 10:57] #377 closed

[2018-09-20 11:00] kylebmetrum commented on #396
I think this should be resolved by sending the event from `$TABLE`

[2018-09-20 11:00] #396 closed

[2018-09-20 11:00] #325 closed

[2018-09-20 11:03] #343 closed

[2018-09-20 13:19] ChenyanLoveModel commented on #403
Hi Kyle,

Thanks for your suggestion!  I believe it would help, but I can't tell now because that message disappeared all of a sudden (not having the chance to test `maxsteps`) after I clean the chache...I will update you next time I face the same situation...Anyway, your answer provides me with a powerful weapon at hand!

On the other hand, I want to pose another error message I have experienced

[2018-09-20 13:44] kylebmetrum commented on #403
Ok.  You're getting a different message now.  Naturally, changing `maxsteps` will not work here. This is what I was warning you about in the previous message.

[code]

The noise happens in the PREDS because the values are getting smaller than the tolerance you have.  It looks like you are running some sort of predator-prey type model, maybe viral dynamics or something similar (you haven't shared t

[2018-09-20 14:38] ChenyanLoveModel commented on #403
Hi Kyle,

Thank you again for your suggestion.

Yes, my project is a Predator-Prey model, on bacterial count. But since the model hasn't been published yet, I'am bit reluctant to share the code on open-source.

Your suggestion` mrgsim(atol = 1E-20)` works this time. By using small delta value at the same time, we can get quite reasonable plots for a very long time period without any error message

[2018-09-20 15:20] ChenyanLoveModel opened #404 "Simultaneously Simulating the PK profiles of 2 drugs for a long time period -- strange peak and trough"
Hi Kyle and all,

I'm simulating the PK profiles of 2 drugs together in one script (see bottom). No interaction at all, just 2 separate systems in one file.

Strange thing happens when I tried to simulate a long time (eg. end=96) profile with the code as below
[code]
The result is
![image](https://user-images.githubusercontent.com/43437458/45827048-f815fc80-bcf5-11e8-9c77-62924b01c920.png)
Stange

[2018-09-20 15:47] kylebmetrum commented on #404
It's working ok here.

Can you show what you're getting for `dose = doseMN + dosePB`?

[code]

[code]

![](https://i.imgur.com/eG8iQoj.png)

Created on 2018-09-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-09-20 15:50] kylebmetrum commented on #404
A couple of things:

You don't need this

[code]

This needs to  go in `$ODE`
[code]

Don't use `ID` here
Also, no need to set `time=0` (it will default to that.
[code]

[2018-09-20 16:07] ChenyanLoveModel commented on #404
Hi Kyle,

Thank you for the reply and the tips.  I have moved the code for CABMN and CABPB into $ODE.

My dose result is exactly the same as yours. Snapshot as below.
![image](https://user-images.githubusercontent.com/43437458/45831466-bd18c680-bcff-11e8-8192-9c6687cb0cb4.png)

How strange! What are the other possibilities? What's wrong with my R system!

[2018-09-20 16:32] kylebmetrum commented on #404
Well ... the simulation results are different in more ways than one.

I posted a reproducible example that allows you to copy that code and run it on your system too.  Can you post the equivalent example from your computer?  Include both the code and the output.

The reprex example can help us help you
https://reprex.tidyverse.org/

[2018-09-20 18:40] ChenyanLoveModel commented on #404
[code]

![](https://i.imgur.com/ZkFx4qo.png)

<sup>Created on 2018-09-20 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-09-20 18:55] billdenney commented on #399
After some in-person back-and-forth, the issue boiled down to some `NA values for `time`.  That affected the way that `sigma`s were created.

The solution:  Make sure you don't have `NA` in your `time` column when you expect a result.

@kylebmetrum, please correct my summary if I missed anything.

[2018-09-20 18:55] #399 closed

[2018-09-20 19:59] kylebmetrum commented on #404
Ok.  Thanks.  I still couldn't reproduce on macos __but was able to see this on linux__.

Here's what I found:

1. Issue on Windows and linux, but not macos.  I'm using clang on mac so this could be compiler-related too (not sure the exact mechanism).
1. It's a problem with infusions, not bolus doses
1. I can make it come or go by changing the simulation end time / delta (but not sure what the pat

[2018-09-20 20:08] ChenyanLoveModel commented on #404
Hi Kyle,

Thank you so much! It works!
[code]

![](https://i.imgur.com/jC1xyVr.png)

<sup>Created on 2018-09-20 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-09-20 20:32] ChenyanLoveModel commented on #404
Hi Kyle,

![image](https://user-images.githubusercontent.com/43437458/45845234-e6981900-bd24-11e8-872d-2a3fdde797a8.png)

[code]

<sup>Created on 2018-09-20 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Hope it is what you are looking for :)

[2018-09-20 20:54] kylebmetrum commented on #404
Yes ...  Thanks.

On Thu, Sep 20, 2018 at 3:32 PM ChenyanLoveModel <notifications@github.com>
wrote:

--

Kyle Baron | Principal Scientist I

Metrum Research Group

2 Tunxis Road | Tariffville, CT 06081

p: 860-735-7043 ext. 202 | e: kyleb@metrumrg.com

<https://info.metrumrg.com/contact>
<https://www.linkedin.com/company/metrum-research-group-llc/>
<https://twitter.com/MetrumRG>

[2018-09-20 20:58] kylebmetrum commented on #404
Ok;  Also ....

1. We see the problem only with recsort 1 and 3; no issue with recsort 2 and 4.

Getting closer.

[2018-09-21 02:14] billdenney opened #405 "Feature Request: Data Cleaning Requirements and Assistance"
As discussed in person, my notes are:

* Add a new function named something like `clean_data_set()` (and maybe equivalents for idata and events or they are included in the same function, to be determined).
    * The call would be something like: `clean_data_set(data, model, cleaners=list(cleaning_functions), verbose=TRUE)` where:
        * `data` is a data.frame or similar of the data to be cleane

[2018-09-21 04:36] #403 closed

[2018-09-21 04:38] kylebmetrum opened #406 "Fix record sort issue"
See issue #404

I'm not sure why, but this doesn't show up on macos.  But changing the indexing on the call to sort does fix the issue.

[2018-09-23 10:16] #406 closed

[2018-09-23 10:16] #402 closed

[2018-09-23 10:17] kylebmetrum commented on #404
Closing this.  It was a record sort issue.  Still not sure why I couldn't see this on mac.  But I believe #406 is the solution.

[2018-09-23 10:17] #404 closed

[2018-09-23 11:06] #374 closed

[2018-09-23 11:27] kylebmetrum commented on #393
Done.

[2018-09-23 11:27] #393 closed

[2018-09-23 11:27] kylebmetrum commented on #333
Done.

[2018-09-23 11:27] #333 closed

[2018-09-23 11:30] kylebmetrum commented on #201
This actually came in handy recently but the difference is confusing and 99.9% of the time people should use `zero_re`.

1. Stop exporting the function
2. Add `drop` argument to `zero_re` that will just call `drop.re` instead

[2018-09-23 11:56] dpastoor commented on #201
Both :-)

within drop.re add:

[code]

This will give users a warning

[code]

then migrate the functionality to use zero_re if there can be a 1:1 mapping of functionality, eg using the drop arg proposed in option 2.

Remove in 6 months or so/when have a new big release with other breaking changes at once.

[2018-09-23 12:08] #201 closed

[2018-09-23 12:08] kylebmetrum commented on #135
Done.

[2018-09-23 12:08] #135 closed

[2018-09-23 12:12] kylebmetrum commented on #33
Giving up on this.  Most likely only using this in dev mode.  It's easy enough to just capture a bunch of stuff and then request if you want control over what comes back.

[2018-09-23 12:12] #33 closed

[2018-09-23 12:43] #93 closed

[2018-09-23 12:44] #303 closed

[2018-09-23 12:44] kylebmetrum commented on #293
Thinking this sort of thing should go in a different package.

[2018-09-23 12:44] #293 closed

[2018-09-23 12:53] kylebmetrum commented on #56
This looks to be fixed already.

[2018-09-23 12:53] #56 closed

[2018-10-02 15:51] justinpenz opened #408 "What is the best/cleanest way to simulate IOV on a param with many doses"
Using idata with many OCCs and ETAs would be unreasonable due to the number of doses.

I have been pondering a way to use addl

Thanks

[2018-10-10 23:28] mhismail opened #409 "Posted in error"

[2018-10-10 23:35] mhismail commented on #409
Whoops...cat on keyboard, but today I learned you can't delete github issues...

[2018-10-10 23:35] #409 closed

[2018-10-11 00:37] mhismail commented on #408
Can't think of a clever way to do this using addl, but you can eliminate the need for using OCCs by using simeta():
[code]

### Generate dosing table

[code]

### Run simulation

[code]

    ##    ID time        X1        X2      CLi      CLij         PK
    ## 1   1    0  0.000000  0.000000 10.03666  7.199420 0.00000000
    ## 2   1    1 31.679220 31.401550 10.03666 13.500932 1.58396100
    ## 3

[2018-10-11 15:21] justinpenz commented on #408
This is exactly what I needed.  I had not thought of storing CLi upon NEWIND, then using simeps.  Cheers!!!

[2018-10-23 18:45] kylebmetrum opened #411 "$NMXML block will only read from the first $ESTIMATION block in a nonmem run"
This is ok if you're using `METHOD = SAEM` and `METHOD=IMP EONLY=1` to evaluate objective function and covariance matrix.  In that case the estimates are the same.  But if the second (or later) estimation block actually moves the parameter estimates, `$NMXML` will only tap the first set.

[2018-10-25 01:48] billdenney opened #412 "Can't use OMEGA values in $GLOBAL?"
I tried to make the slight modification of "pk3cmt.cpp" to have IIV in VC and CL.  For this, I wanted to simplify life by having VC and CL defined in $GLOBAL.  When I tried this, I got the following error.  While I know I can put the VC and CL definitions in $MAIN, I'm curious why it didn't work in $GLOBAL (and if it's possible to make it work in $GLOBAL).

[code]

(The important bits are below he

[2018-10-25 02:43] kylebmetrum commented on #412
Why this happens:

When you write:
`#define VC (TVVC*exp(IIVVC))`

the preprocessor goes and finds the `VC` and subs in `(TVVC*exp(IIVVC))`.  So, in `$ODE` it's not `VC` its `(TVVC*exp(IIVVC))`.   `IIVVC` isn't available in `$ODE` ... it's just an alias to an the `ETA()` vector and that data object isn't passed into the `$ODE` function.  It is passed into `$MAIN` (where you typically use it) and `

[2018-10-25 02:54] kylebmetrum commented on #408
Very elegant @mhismail  Thanks!

@justinpenz I'm sorry it took so long for a response here.  The post didn't get on my radar.  But worth the wait IMO ... I wouldn't have come up with something this good.

KTB

[2018-10-25 02:54] #408 closed

[2018-10-25 21:31] billdenney commented on #412
:)

Thanks, that is a very clear explanation!  I did something similar to what you suggested (though less elegant since I did it last night before reading your response), and it worked without an issue.

As I try to give back when I can, I wonder if there is a way to make the fact that `OMEGA` values cannot be used directly in `$ODE` and other sections clearer to the user at runtime.

As I'm not t

[2018-10-26 00:29] kylebmetrum commented on #412
I'll make the add to the user guide.  It's just too messy building that ... I'd rather do it myself.

The assert thing won't work; but I have some code to tokenize the different blocks and check what is there and not there.  I can add it there.

[2018-10-26 01:38] billdenney commented on #412
I didn't try for a build, but I just suggested a couple of tweaks.  Feel free to ignore, modify, or augment the suggestions.

[2018-11-08 07:27] abuhelwa opened #413 "Updating OMEGA values when doing simulations"
I was wondering if there is a way to update OMEGA values when doing simulations from a PK model. This is of value to explore the effect of BSV on PK. I appreciate that there are different ways of updating model parameters (THETAs) as explained [here](https://mrgsolve.github.io/user_guide/topics.html#topic-parameter-update) but this doesn't seem to be working equally for ETA values.

Here is a toy

[2018-11-08 13:26] metelkin opened #414 "cannot simulate large model"
Hi
Thank you for your work!

I am trying to simulate large models with mrgsolve. Some models are simulated OK, the another ones result in errors and stop simulation at initial step.
For example I am trying to start the model in attachment with 103 ODEs.
[default.cpp.txt](https://github.com/metrumresearchgroup/mrgsolve/files/2561826/default.cpp.txt)
The code
[code]
result in
[code]
I tried to simul

[2018-11-08 15:08] kylebmetrum commented on #414
Hi @metelkin

Thanks for posting the model.  I don't believe there is any theoretical maximum size for the model.  I do think the solvers are the same and you've identified the different settings that I would have tried as well.

When I run the model I get the following.  It looks like some compartments are going to some extreme values.

I'm wondering if you have the SBML for this?  Assuming that

[2018-11-09 11:39] metelkin commented on #414
Hi Kyle,
Thank you for fast reply.

I was able to reproduce your simulations but it is still unclear how to simulate the whole curve from 0 to 100. Playing with solver options I just could do simulations from 0 to 60 with low resolution.

Answering to your questions:

1) You are right. I created the code programmatically, not from SBML but from the another internal format. I can produce code in se

[2018-11-09 12:59] kylebmetrum commented on #413
Hi @abuhelwa -

I'm sorry to miss the issue yesterday; I was out of the office.

Can you try this?

[code]

[code]

[code]

[code]

Do this by name

[code]

[code]

[code]

[code]

<sup>Created on 2018-11-09 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-11-09 13:00] kylebmetrum commented on #413
`dmat`, `bmat` and `cmat` are just convenience to make an R matrix for input

[code]

[2018-11-09 16:37] kylebmetrum commented on #414
I don't know for sure if the model code is ok or not.  But the fact that you have compartments going off the rails suggests to me that there is a coding issue.  And that the simulations work in other tools doesn't mean much toward validating your implementation in mrgsolve.

My guess is that if delta affects the results (or the probability of success for the simulation) then something is wrong in

[2018-11-09 18:22] mattfidler commented on #414
I would be interested in the RxODE code, of course, something to push the solver, altough it really doesn't relate to this project.

[2018-11-09 18:34] mattfidler commented on #414
Also DBSolve uses `LSODE` instead of `LSODA`

[2018-11-09 19:49] mattfidler commented on #414
You are probbly correct.  The solvers are different between the tools, though.  RxODE does not use pre-processor directives.

[2018-11-10 13:32] abuhelwa commented on #413
Hi @kylebmetrum

Thank you but still have a question and a comment:
how can you keep in the correlation value between the ETA1 and ETA2 when updating ETAs? Also, I ran into the error below when running sims after updating ETAs.

     ` #update parameters
     mod <- param(mod, THETA1 = 2)
     param(mod) #OK

     Model parameters (N=3):
     name   value . name   value
     THETA1 2     | THETA3

[2018-11-10 13:46] kylebmetrum commented on #413
@abuhelwa

You can make OMEGA any matrix you want;  I showed a diagonal matrix.  Here is a "correlation" matrix ... but `cmat` and `dmat` are __just helper functions; you can create the matrix however you want; it's just a matrix in R__.

[code]

[code]

[code]

[code]

<sup>Created on 2018-11-10 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-11-10 13:48] kylebmetrum commented on #413
For the  error, it is here:

[code]

After this line, `mod` is a omega matrix object, not a model object.

[2018-11-10 13:49] kylebmetrum commented on #413
Please let me know if this handles the issue.  Or keep posting if it still isn't right.

[2018-11-10 13:51] kylebmetrum commented on #413
@abuhelwa  Here's the code again with some intermediate steps shown.  The "new" matrices are shown.

[code]

[code]

[code]

[code]

<sup>Created on 2018-11-10 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-11-10 14:02] abuhelwa commented on #413
and then how do you simulate `out` from the same model using the updated omega matrix?

[2018-11-11 12:57] abuhelwa commented on #413
@kylebmetrum. Yep! This answers my questions and is working. I think `%>% omat()` in a previous answer `mod <- omat(mod, list(dmat(1.1,2.2), dmat(3.3))) %>% omat()` was causing some issues. All good now. Thank you for yours explanations.

[2018-11-13 18:01] metelkin commented on #414
I tested the another methods for solving in RxODE for the model. All available solvers show the same result: "liblsoda",  "lsoda", "dop853". No errors.

You are right I cannot be 100% confident but I still believe the model code is OK. Why? (1) The another models generated by my code show successfully the same result in RxODE and mrgsolve. (2) There is no error messages at compilation step.

I can

[2018-11-21 16:55] #414 closed

[2018-11-21 17:49] mattfidler commented on #414
Thanks metelkin.

I hope you can figure out what happened.

[2018-11-23 05:56] kylebmetrum opened #415 "Simulate large model"
@metelkin There was a mistake in the code (#414).  I realize that the result below as isn't matching what you were posting from other tools.  But I'm sure we can eventually track down that issue as well.

Anyway ... the size of the model does not seem to be an issue here.

[code]

![](https://i.imgur.com/1bwoFqr.png)

[code]

<sup>Created on 2018-11-22 by the [reprex package](https://reprex.tidyve

[2018-11-23 08:54] metelkin commented on #415
Wow! Thanks Kyle.
Can you please show me where was the mistake or share the correct model code?

[2018-11-23 15:12] #413 closed

[2018-11-23 21:06] kylebmetrum commented on #415
@metelkin Yes; I will post the code and the solution to fix the translator.

I was comparing the wrong output in the previous comment.  This looks like it matches up with the other tools (using `Th1_ln` rather than `Th1_ln_amt`).

[code]

![](https://i.imgur.com/nqeSxoH.png)

[code]

<sup>Created on 2018-11-23 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

And a quick compar

[2018-11-24 04:50] kylebmetrum commented on #415
@metelkin

Basically I moved everything that was in `$MAIN` to `$ODE` ... __except__ for setting the initial conditions.  There were a ton of derived quantities that were functions of one of the state variables and were getting calculated in `$MAIN`.  All of that needs to be in `$ODE`.  I can't tell if any of those calculations really could have been in `$MAIN` (not function of compartment amount)

[2018-11-28 15:13] metelkin commented on #415
Thank you so much, Kyle. It works!
It was my fault. I understand the difference between $MAIN and $ODE. It was just misprint in my code generator. Sorry for spending your time.

Anyway now we know that the mrgsolve can adopt large model easily.

BTW playing with solver settings I found that RxODE and mrgsolve give the similar results with approximately runtimes: apx. 3-4 sec for single simulation.

[2018-11-28 16:08] mattfidler commented on #415
I'm glad you got it working @metelkin.  `mrgsolve` indeed is an excellent tool.  I'm not surpized that mrgsolve is a bit faster in compiling than RxODE.  However 4 hrs seems a bit extreme.  I have opened an RxODE issue for your extra long compile time.  For me the model you provided did not take nearly that long...

Congrats again.

[2018-12-01 20:15] kenujen commented on #160
Hi Kyle,
I have the same issue, and tried your recommendation above, but it still fails to compile model. Any help is greatly appreciated.

-Ken
---

Compiling irm1 ... c:/RBuildTools/3.4/mingw_64/bin/g++  -I"C:/PROGRA~1/R/R-35~1.1/include" -DNDEBUG  -I"C:/Users/kenuj/Documents/R/win-library/3.5/mrgsolve/base" -I"C:/Users/kenuj/Documents/R/win-library/3.5/mrgsolve/models"        -O2 -Wall  -mtune=

[2018-12-01 21:19] kylebmetrum commented on #160
Hi @kenujen -

Does this path exist?
`c:/RBuildTools/3.4/mingw_64/bin/g++`

You might just start over and re-install.  That should get the compilers in the right place and get the path set.  Remember, you might have to opt in to get the path set right by the installer.

Kyle

[2018-12-01 22:39] kenujen commented on #160
That didn't work.
Not sure where the problem is.

-Ken

[2018-12-01 22:53] kylebmetrum commented on #160
What exactly did you do?
Where are your tools installed?
Did you opt in to the path update when you installed?
What is your path currently saying?
Can you undo everything and just start over?

I just did a windows install from scratch using 3.5 and it worked fine ... first try.  I'm not sure what is going on with your system either.  Happy to look with you.  But can't help with out more informatio

[2018-12-02 04:36] kenujen commented on #160
Hi Kyle,

What exactly did you do?
- mrgsolve worked fine for some times, until all of a sudden it couldn't build model.  It start to work on and off. Meaning sometimes I opened up Rstudio, running mrgsolve, it worked fine, other times not. Weird. Then I thought the path might have been messed up. I reset the path as suggested above. Nothing worked since.

Where are your tools installed?
- I unins

[2018-12-02 04:47] kenujen commented on #160
I then did this... based on your suggestion above... to put RTools in the front of PATH:

path <- Sys.getenv("PATH")
path <- c("C:\\RBuildTools\\3.5\\bin", "C:\\RBuildTools\\3.5\\gcc-4.9.3\\bin", path)
path <- paste(path,collapse=";")
Sys.setenv(PATH=path)
str_split(Sys.getenv("PATH"), ";")

[[1]]
 [1] "C:\\RBuildTools\\3.5\\bin"
 [2] "C:\\RBuildTools\\3.5\\gcc-4.9.3\\bin"
 [3] "C:\\Program Files\

[2018-12-03 20:47] janelleh opened #416 "add help for zero.re() into user guide"
I don't see `zero.re()` mentioned anywhere in the current user guide: https://mrgsolve.github.io/user_guide/user-guide.pdf

Does it exist and I am missing it? If not, request to add to the user guide information about `zero.re()`. How to run a simulation temporarily removing random effects, without hard coding 0's into the model file's omega/sigma matrices, to see the population level output.

Tha

[2018-12-04 05:43] kylebmetrum commented on #416
Ok?
https://mrgsolve.github.io/user_guide/topics.html#fill-a-matrix-with-zeros

[2018-12-05 14:10] #415 closed

[2018-12-05 17:48] kylebmetrum opened #417 "Refactored model build process"
Taking sys package on as a dependency.

[code]

[2018-12-05 17:50] kylebmetrum commented on #417
Goals: reference line numbers in original control stream in the error message.  Also grep out Status 127 errors and provide more informative help.  See #311

[2018-12-05 18:46] kylebmetrum opened #418 "Add Bill as contributor"

[2018-12-05 19:20] kylebmetrum commented on #417
[code]

[2018-12-07 03:46] #418 closed

[2018-12-07 05:45] kylebmetrum commented on #412
I think this is the best that I'll be able to do for now.

[code]

[2018-12-07 05:47] #417 closed

[2018-12-07 05:48] #416 closed

[2018-12-07 05:48] #412 closed

[2018-12-07 19:32] JasonW000 opened #421 "save and load pre-compiled model"
Is there a way to save a compiled model and then load it without having to recompile?  Similar to the house() model example, but so that one can write and store user written models that are already compiled?

thanks

[2018-12-07 21:07] kylebmetrum commented on #421
Hi @JasonW000  -

It would be something like this.  Read it once and it gets cached.  Once it is cached you can load it without compiling again.

I wouldn't think of this as being portable (move around to another computer).  But some checks in there to try to avoid something bad happening.  Anyway, the intention for this was that the build artifacts would just stay where they are until you want to

[2018-12-10 22:10] billdenney opened #422 "Official Shiny App?"
As I get this question for PKNCA often enough, I'm going to go ahead and beg forgiveness before I start, but...

Is there an official Shiny app that works generically with mrgsolve?  The follow on if no would be: "Should there be?"

I ask because I've probably written about 4 of them over time, and I'd like to start from a better, more generic, starting place and make the tweaks that I need rather

[2018-12-10 23:02] kylebmetrum commented on #422
Hi @billdenney -

If I'm understanding this right, this would be a shiny app that could (more or less) work with any model?  Or at least more so than an app that was created to tap into features of one specific model?

We have a couple of projects like that going but nothing that we could release ourselves.

If this is what I think it is, a good starting place would be ModViz from Merck (@vaddadyp

[2018-12-11 01:44] billdenney opened #423 "Repeat ODEs in a loop?"
I'm looking to implement a set of ODEs for either a 12- or 29-compartment transit compartment model (https://link.springer.com/article/10.1007%2Fs10928-012-9261-5).  I'm lazy.  :)  I don't want to type nearly the same equations 11 or 28 times, so I'd like to be able to loop over compartments 2 to 29 with math like:

[code]

I think it's pretty unlikely that would work, but is there something like

[2018-12-11 01:46] billdenney commented on #422
Ah, you're right!  ModViz is probably the right tool for the job.  I'm looking forward to it @vaddadyp!

[2018-12-11 01:46] #422 closed

[2018-12-11 02:33] kylebmetrum commented on #423
@billdenney  You can definitely do it ... I haven't done it on that scale, but something with the same concept.  But might take a try or two to get it right.

Use:
[code]

Remember these are zero-indexed and just regular arrays.  So no bound checking.  But you'll know it if you step too far.

[2018-12-11 02:39] kylebmetrum commented on #423
This might be helpful too:

Say you have a bunch of compartments; use `$CMTN` to get an alias to the compartments you specify.

For example:
[code]
You will be able to use:
[code]
These are zero-indexed so you'll still have to subtract 1 to get it right.  But If `C` through `M`were the transit compartments, you could get the numbers this way.  At least you wouldn't be hacking them in and potential

[2018-12-11 02:45] billdenney commented on #423
Thanks!  I'll give it a shot in the next couple of days.

[2018-12-11 02:51] kylebmetrum commented on #423
@billdenney
[code]

![](https://i.imgur.com/vQpAtEC.png)

[code]

<sup>Created on 2018-12-10 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-12-11 02:59] billdenney commented on #423
You rock, thanks!  (I assume that `audit=FALSE` is a requirement for not using the named parameters.)

[2018-12-11 03:01] kylebmetrum commented on #423
It'll complain that it can't find some of the differential equations; just a warning though

[code]

[2018-12-15 11:51] kylebmetrum commented on #361
Duplicate.

[2018-12-15 11:51] #361 closed

[2018-12-15 11:51] #300 closed

[2018-12-15 11:52] #209 closed

[2018-12-15 11:52] #75 closed

[2018-12-15 11:53] #279 closed

[2018-12-15 12:53] dpastoor commented on #371
What you you thinking about for pkgbuild? That's more an internal package
used to customize building. I'd say most users would probably use like
remotes

On Sat, Dec 15, 2018, 7:25 AM Kyle Baron <notifications@github.com> wrote:

[2018-12-15 13:05] kylebmetrum commented on #371
Diagnosing Issues with toolchain.

On Sat, Dec 15, 2018 at 07:53 Devin Pastoor <notifications@github.com>
wrote:

--

Kyle Baron | Principal Scientist I

Metrum Research Group

2 Tunxis Road | Tariffville, CT 06081

p: 860-735-7043 ext. 202 | e: kyleb@metrumrg.com

<https://info.metrumrg.com/contact>
<https://www.linkedin.com/company/metrum-research-group-llc/>
<https://twitter.com/MetrumRG>

[2018-12-19 22:34] kylebmetrum opened #424 "ADDL doses with lag time don't get positioned correctly"
This seems to be a regression with respect to `0.8.12`

NONMEM has ADDL doses prior to observation; regardless of recsort option, the dose is after the observation.

This only affects simulated values (observations) exactly at the time of the dose.  Purely record sort discrepancy with NONMEM.  But it should respond to recsort to get exact answer.

recsort was getting handled properly; the calculat

[2018-12-19 22:54] kylebmetrum commented on #424
Add a test for this.

[2018-12-22 06:11] #424 closed

[2019-01-04 21:00] billdenney opened #426 "Feature Request: Standardize PK Parameter Names in the Standard Model Library"
Currently in the `modlib()` library, PK parameters and compartments have many different names.  It would be helpful if they were standardized so that users can (i.e. I can :) ) seamlessly transition between e.g. 1, 2, and 3-compartment models and possibly beyond.

Currently the below are used (not a comprehensive list):

* pk1.cpp:
    * Parameters: CL, V, KA
    * Compartment names: EV, CENT
* pk

[2019-01-05 14:53] kylebmetrum commented on #423
I don't think it is possible to put enough disclaimers in there to protect against the firestorm when stuff blows up.

[2019-01-05 14:53] #423 closed

[2019-01-05 14:54] #421 closed

[2019-01-05 14:54] kylebmetrum commented on #388
See #428

[2019-01-05 14:54] #388 closed

[2019-01-05 15:09] billdenney commented on #423
That's perfectly reasonable.

Related to this, do you think that interface is likely to change?  I'm wondering if code that I write today with it will work with future versions of `mrgsolve`.  (I'm not trying to pin you down-- just wondering if it is stable, probably won't change, or changes are planned with implementation of some upcoming feature.)

[2019-01-05 15:42] billdenney commented on #426
Thanks!

[2019-01-05 16:14] kylebmetrum commented on #426
Trying to get this as cleaned up and consistent as I can.  But not always super-straight forward, since the parameters for the closed-form models conform to NONMEM conventions etc.  It's not like we can't make a workaround, but would like to think it through a bit.  That said, I did get a bunch of inconsistencies addressed and will continue to think / work on it.

[2019-01-05 19:08] billdenney commented on #426
As the `modlib()` models are intended to be examples of how to use the models and how to use `mrgsolve`, it's completely reasonable to keep them so that they mirror normal use of the closed form solutions with the normal parameter names.

[2019-01-05 21:31] billdenney opened #430 "Error "ID found in the data set, but not in idata" when ID is in idata"
I have a model where I'm using `idata_set` for the first time!  (Hooray for learning new things!)

And, I have an issue that doesn't make sense.  In my idata, I have an ID column that is a double (integers 1 to 16 as doubles).  When I run my model, I get the error "ID found in the data set, but not in idata".  That is at the location in the code below, but since idata has an ID column, I'm not sur

[2019-01-05 21:45] billdenney commented on #430
When I use `data_set()`, it fails, but when I use `ev()` to add a dose without an ID, it succeeds.  When I use `ev()` to add a dose with an ID, it fails the same way.

Fails:
[code]

Succeeds:
[code]

Fails:
[code]

[2019-01-05 22:01] billdenney commented on #430
... Fixed it.

The issue was that I had one row in the `idata_set` data.frame for a subject who was never dosed and one row in the `data_set` for a subject who was not in `d_id` (because the subject was omitted from the model).

Now:
Feature request (related to #405), add a `setdiff()`-like check to ensure that ID values are in both idata and data_set.  (Mainly, make the data error easier to find.

[2019-01-07 22:32] blalovic opened #431 "$NMXML example"
Hi Kyle,

Should code in the $NMXLML example:

https://github.com/metrumresearchgroup/mrgsolve/wiki/nmxml

use **s_**(ECL, EVC....) for olabels and slabels rather than s(...)?  This edit worked for me. Otherwise, I get the
"error in s(ECL, EVC, EKA) : could not find function "s" ".

Cheers,
Bojan

[2019-01-07 22:53] kylebmetrum commented on #431
Yes; that `s` function was removed because of this:
https://github.com/tidyverse/ggplot2/issues/2535

Updated:
https://github.com/metrumresearchgroup/mrgsolve/wiki/nmxml/_history

[2019-01-07 22:54] kylebmetrum commented on #431
Thank you for the report!

[2019-01-07 22:54] #431 closed

[2019-01-10 21:05] kylebmetrum opened #432 "Stop using as_data_frame where possible"
Better late than never
https://github.com/tidyverse/tibble/issues/111

[2019-01-10 21:21] kylebmetrum opened #434 "dplyr 0.8.0"
Installed and ran check.  So far no problems.

<details>
 package       * version     date       lib source
 assertthat      0.2.0       2017-04-11 [1] CRAN (R 3.5.0)
 backports       1.1.3       2018-12-14 [1] CRAN (R 3.5.0)
 callr           3.1.1       2018-12-21 [1] CRAN (R 3.5.0)
 cli             1.0.1       2018-09-25 [1] CRAN (R 3.5.0)
 crayon          1.3.4       2017-09-16 [1] CRAN (R 3.5.

[2019-01-14 15:51] kylebmetrum opened #435 "Better documentation for loadso"
Add some details and especially information on return value.

[2019-01-14 15:52] kylebmetrum opened #436 "Change loadso to s3 method"

[2019-01-14 16:27] ebanvil opened #437 "Problem when adding observed concentrations in dataset"
Hello,

I'm trying to model a two-compartment model with zero-order infusion with pop PK data.
The code of my model is the next one:

`$PARAM  TVCL = 5.66, TVV1 = 14.85, TVQ = 8.8, TVV2 = 8.8

$CMT CENT PERIPH

$PKMODEL ncmt=2, depot=FALSE, trans=4

$MAIN
double CL = TVCL*exp(ETA(1));
double V1 = TVV1*exp(ETA(2));
double Q =  TVQ*exp(ETA(3));
double V2 = TVV2*exp(ETA(4));

$OMEGA
0 0 0 0

$SIGMA
0

[2019-01-22 01:56] kylebmetrum commented on #437
First of all ... I'm sorry for all the time that has passed since you posted.  I didn't see this one come through.

The reason why this happens is that when mrgsolve finds one observation record in your data set, it will assume that (for the entire data set) you are using the data to say where the observations are.  So mrgsolve thinks you want the dose at time 0 and then a single observation at ti

[2019-01-22 01:57] kylebmetrum commented on #437
This is discussed in the user guide here
https://mrgsolve.github.io/user_guide/input-data-sets.html#two-types-of-data_set

[2019-01-22 01:58] #435 closed

[2019-01-22 01:58] #432 closed

[2019-01-22 01:58] kylebmetrum commented on #434
This doesn't seem to be an issue for us.  Closing.

[2019-01-22 01:58] #434 closed

[2019-01-22 02:00] kylebmetrum commented on #426
I also added a `pk2iv` model that uses `V1` and `V2` rather than `V2` and `V3`.  This might be helpful.  The `pk1` model doesn't change names so the model with oral absorption works the same as the iv model.

[2019-01-22 02:13] kylebmetrum commented on #311
[code]

[2019-01-22 02:33] billdenney commented on #311
That looks great, thanks!

[2019-01-22 02:34] billdenney commented on #426
Thanks!

[2019-01-22 12:19] ebanvil commented on #437
Hello Kyle,
Thank you a lot for all the information!
I've got it using the obsaug=TRUE parameter. You say: "This isn't the default because it can alter the way that the system advances __when you have time-varying covariates __ or other time-varying inputs."
How does the obsaug=TRUE affect if I use time-varying covariates?

Thank you a lot for the help!

Regards

[2019-01-22 14:43] kylebmetrum commented on #437
It's because mrgsolve uses `next-observation-carry-backward` as the default.  And this can only be based on what is in the data set.   The "phantom" records that mrgsolve inserts when `obsaug=TRUE` hang on to the previous actual data set row rather than looking ahead to the next.  We could have the other behavior (preferred, I know) with some refactoring.  But as it stands now, there will be some

[2019-01-28 11:11] #437 closed

[2019-01-29 10:37] kylebmetrum opened #439 "tad should pick up EVID 4 as a dose"

[2019-01-29 11:15] kylebmetrum commented on #439
Also, there wasn't correct logic there.  Not sure how that regressed ... I know I visited this before when making decisions about what the value should be prior to fist dose.  Oh well.

[2019-01-29 11:33] #439 closed

[2019-01-29 11:50] kylebaron opened #444 "Add ID column to ev_repeat output"
Only if it is not there already.

[2019-01-30 22:01] kylebmetrum commented on #426
Re-opening this as reminder to comb through the Rd files to make sure names match up (pretty sure some don't at this point).

[2019-01-31 15:30] johannlaurent opened #445 "Inconsistency's predictions when adding dataset of observations"
Hello and thanks for the great work!
Here the issue:
# Inconsistency's predictions when adding dataset of observations
## At the same timepoint you don't get the same result when adding extra records with data_set option.  Here the different is tiny but in some real examples it is huge.

#Please see below the example:

library(dplyr)
library(mrgsolve)

mod <- mrgsolve:::house()

data(extran1)
head

[2019-01-31 16:40] johannlaurent commented on #445
Thanks a lot for swift reply, much appreciated. Yes you are totally right here in the example replacing evid=2 by  evid=0 in the data_sim you don't have the issue.

However it is typically the same kind of issue I am facing with other models.
And I just figured that it seems to come from the OMEGA and SIGMA.
Here in the example it is set to 0. But what if OMEGO and SIGMA are not equal to 0, by fix

[2019-01-31 16:54] johannlaurent commented on #445
Indeed it is coming from the SIGMA. OMEGA can be changed and you will get the same result.
For the test, in the mrgsolve:::house() model I have set SIGMA to 1 and I have a different DV results but all other parameters are totally equal.
Thanks a lot again for this great package!

[2019-01-31 16:54] kylebmetrum commented on #445
@johannlaurent The difference in the original example is definitely due to event records and the solver.

You can verify this by changing:

[code]
to

[code]

The new model doesn't use the ODE solver but rather does the computation in closed form; you get the same result regardless evid on the observation records.

I did make a tweak to the docs to emphasize that.

But ... yes, you will __definite

[2019-01-31 16:56] kylebmetrum commented on #445
@johannlaurent I think we both posted the last one at the same time.  You're seeing the same thing that I posted.

Thanks for raising the issue and helping us to clarify.  Don't hesitate to bring any questions up here ... it helps a lot when people ask.

Kyle

[2019-01-31 16:58] johannlaurent commented on #445
Thanks a lot @kylebmetrum !
Please close the issue.
And thank you so much for your fast reply and support.
Johann

[2019-01-31 16:58] #445 closed

[2019-01-31 22:19] DuyTran16 opened #446 "Updating Dose amount as a covariate in PopPK model"
Can you advise on coding dose amount as a covariate for PK parameter in mrgsolve so that there is no interference with the model name **amt** reserved in mrgsolve  for use in data_set() to update variety of dosing?

For example, Dose on KA (THETA2)

`[MAIN]`
`double LTVKA = THETA1  + THETA2*log(AMT/100);`
`double KA = exp(LTVKA + ETA(1));`

[2019-01-31 22:35] DuyTran16 commented on #446
Thank you! Using the mutate function solved it!

[2019-01-31 22:35] #446 closed

[2019-01-31 22:37] kylebmetrum commented on #446
Or you can do this:

[code]

![](https://i.imgur.com/ANLtRDt.png)

<sup>Created on 2019-01-31 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-01 18:15] sbihorel opened #447 "Syntax for comments"
Hi

Is there a specific syntax that allow the insertion of random comments in a model file (especially before the very first $XXX code block)?

Thanks

[2019-02-01 18:20] kylebmetrum commented on #447
Hi @sbihorel

[code]

To comment out a line (anywhere):

[code]

You can use shift-(control|command)-C in Rstudio to comment out a block.

Does this help?

[2019-02-01 19:54] sbihorel commented on #447
Thanks @kylebmetrum

Yes, I think it does... although I feel I have to ask a follow-up question though (please, bear with me, I am just starting to read the user manual): I thought that the .cpp files used the $MAIN notation (not [ MAIN ] notation). Does "//" indicates a comment also in the .cpp files?

[2019-02-01 20:02] kylebmetrum commented on #447
@sbihorel Happy to answer any question.

- `[ MAIN ]` is the same thing as `$MAIN`; I started with `$MAIN` because it looked like NONMEM, but it doesn't play very well with Rstudio editor when the file extension is `.cpp`.  You can use either, but I've been using the brackets more lately.

- There is one comment character / sequence: `//` that comments stuff out anywhere in the file

- I usually h

[2019-02-01 20:09] sbihorel commented on #447
That's crystal clear !

Thanks

[2019-02-03 13:41] kylebmetrum opened #448 "Retain matrix in valid_data_set object"

[2019-02-04 00:44] sbihorel commented on #447
Hi

I get compilation errors when I use // in [ PARAM ] @annotated block. I don't get the error if the block is not annotated.

[2019-02-04 00:46] kylebmetrum commented on #447
Please post an example that isn’t working along with the error message
you’re getting. Thanks.

On Sun, Feb 3, 2019 at 18:44 sbihorel <notifications@github.com> wrote:

--

Kyle Baron | Principal Scientist I

Metrum Research Group

2 Tunxis Road | Tariffville, CT 06081

p: 860-735-7043 ext. 202 | e: kyleb@metrumrg.com

<https://info.metrumrg.com/contact>
<https://www.linkedin.com/company/metrum-re

[2019-02-04 01:04] sbihorel opened #449 "How to capture time of dosing events"
Hi,

To implement an approximated transit compartment absorption model for repeating dosing study design, I would need to capture the time of dosing events (which might vary from simulation/id to simulation/id) in an array then make the array available in [ ODE ].

Can this be implemented in mrgsolve?

[2019-02-04 02:42] kylebmetrum commented on #447
All of this should be valid

[code]

<sup>Created on 2019-02-03 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-04 03:02] kylebmetrum commented on #449
Here is a single dose; I just captured the value for demonstration purposes;  you can use as you wish in ODE

`dose_time.cpp`:
[code]

[code]

![](https://i.imgur.com/2LlTiB6.png)

<sup>Created on 2019-02-03 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-04 03:03] kylebmetrum commented on #449
We can do something more complex too (track several doses etc); Just let me know the specifics and I can give you the example code.

[2019-02-04 04:10] sbihorel commented on #447
Hi
[code]

[2019-02-04 04:41] kylebmetrum commented on #447
Thanks; looks like it's the leading space that is causing the issue there.  I'll address open another issue for this.

[code]

[2019-02-04 04:41] #447 closed

[2019-02-04 04:43] kylebmetrum opened #450 "Leading space prior to commented line in annotated parameter block"
See #447 reported by @sbihorel

This is an issue:

[code]
But this isn't:
[code]
Pretty sure we've been here before.

[2019-02-04 05:00] kylebmetrum commented on #448
Done.

[2019-02-04 05:00] #448 closed

[2019-02-04 12:37] sbihorel commented on #449
I spoke too fast. The dose time capture does not work in a multiple dose settings.

[code]

[2019-02-04 12:44] kylebmetrum commented on #449
I can take a look with you.

[2019-02-04 12:56] kylebmetrum commented on #449
You're code is right;  the problem is related to this:
https://github.com/metrumresearchgroup/mrgsolve/issues/368

It should have gotten resolved in the last release.  I will post a work-around.

[2019-02-04 13:00] kylebmetrum commented on #449
This works:

[code]

![screen shot 2019-02-04 at 7 00 01 am](https://user-images.githubusercontent.com/16908301/52209772-8aa0dd80-284a-11e9-8b4e-f2d98122a72d.png)

[2019-02-04 13:02] kylebmetrum commented on #368
See issue #449 @sbihorel

[2019-02-04 13:13] sbihorel commented on #449
Awesome !

Out of curiosity, what is your release cycle on CRAN?

[2019-02-04 13:49] kylebmetrum commented on #449
We have an internal change control process that needs to happen and we can't release to CRAN until then.  So it's pretty easy to push this stuff to CRAN but more work (people, paperwork) to do the internal stuff.

I'll see about doing something at the end of Feb (another undocumented feature that I wanted to tweak a bit too).

I'll get #368 addressed and at least available in the dev branch.

Than

[2019-02-04 14:05] #450 closed

[2019-02-04 14:07] sbihorel commented on #449
No rush. I am still at the stage of playing with mrgsolve, so I can wait.

[2019-02-04 14:13] kylebmetrum commented on #449
Ok; good. I'd like to capture this example [here](https://github.com/mrgsolve/gallery) too.  I could do it with attribution or I'd be happy to accept a pull request too.

[2019-02-04 14:41] sbihorel commented on #449
No problem. I am not yet up to speed on the whole pull request thing... github is still a bit of a mistery to me (I come from SVN). Attribution is fine (Alison Boeckmann is the main source, IMO).

[2019-02-07 11:07] sbihorel opened #451 "Model using $PRED: how to change the independent variable"
Hi,

Let's say I want to simulate an exposure-response model. TIME would not be the appropriate independent variable, so I would have to define something like "double EXPOSURE = TIME;" in the $GLOBAL or $PRED.
I did not see a way to request a variable name change in ?mrgsim. Is there an alternative way to control what is the independent variable name for simulation?

[2019-02-07 11:19] kylebmetrum commented on #451
Is this what you want to do?
https://mrgsolve.github.io/blog/2018-pred.html#3_pkpd_model

You don't have to get time involved in the simulation.

[2019-02-07 11:35] #368 closed

[2019-02-07 11:36] kylebmetrum commented on #436
Leaving as-is for now.  But will continue to consider these decisions package-wide.

[2019-02-07 11:36] #436 closed

[2019-02-07 11:41] kylebmetrum commented on #449
Thanks.  Closing this as the fundamental issue was addressed in https://github.com/metrumresearchgroup/mrgsolve/commit/e697edd4aadf129132e853d2b573c4217d7dd1e1 . See #368

[2019-02-07 11:41] #449 closed

[2019-02-07 14:21] sbihorel commented on #451
Thanks Kyle

The link you sent describes the situation where a simulation dataset is provided in the mrgsim call. I think my question relates more to the situation where no dataset is provided in the mrgsim call.

[2019-02-07 15:12] kylebmetrum commented on #451
No.  The only time I can think of where this would make a difference is in the default plot method

The plot method assumes the independent variable is TIME.  Use the formula if you want to plot versus something else.

[code]

I guess you might possibly want the independent variable to be automatically included in the output.  You can just use `carry_out` or `$CAPTURE`.

I could imagine this

[cod

[2019-02-07 17:12] kylebaron opened #452 "Tweak key in plot method"
Use lines, not points
Potentially increase number of columns
I'd like it to draw from left to right not up to down

[2019-02-07 18:41] sbihorel commented on #451
I understand. I am just exploring what is possible :)

[2019-02-07 22:11] kylebmetrum commented on #451
Ok.

[2019-02-07 22:11] #451 closed

[2019-02-08 16:14] kylebmetrum opened #453 "Clean up compiler error messages: In function"
Grep out this part of the error message?  Might differ slightly from what clang is giving.

[code]

[2019-02-08 22:55] kylebaron opened #454 "Export / expose model build class"

[2019-02-08 22:56] kylebmetrum opened #455 "Replace function name with block name in build error message"

[2019-02-08 22:59] kylebaron opened #456 "Remove compile output files at start of build process"

[2019-02-09 05:42] kylebaron opened #457 "[R] Proper handling of negative istate"
# Summary

When lsoda returns with negative istate, issue a message saying what is the value of istate and a brief description of what that means.  Throw an exception at that time.

The `istate` messages come from ODEPACK DLSODA code and are found in `./src/mrgsolve.cpp`.

See https://github.com/metrumresearchgroup/mrgsolve/commit/84f43b8dddb244afc4873c12dea9db07292aa633

See https://github.com/me

[2019-02-13 01:26] sbihorel opened #458 "Compilation error with global variable"
Hi,

I don't know if the following is expected behavior or a bug.

[code]
Trying to compile the model above returns the following error:

[code]

The compilation is successful if the first line of the TABLE block is commented out... I am not quite sure why the global error messes up the variable expansion.